@-webkit-keyframes plyr-progress {
  to {
    background-position: 25px 0; } }@keyframes plyr-progress {
  to {
    background-position: 25px 0; } }

.plyr {
  position: relative;
  max-width: 100%;
  min-width: 200px;
  font-family: "Agipo Regular", -apple-system, BlinkMacSystemFont, ".SFNSText-Regular", Avenir, "Avenir Next", "Helvetica Neue", "Segoe UI", Helvetica, Arial, sans-serif;
  direction: ltr; }
  .plyr,
  .plyr *,
  .plyr *::after,
  .plyr *::before {
    -webkit-box-sizing: border-box;
            box-sizing: border-box; }
  .plyr a, .plyr button, .plyr input, .plyr label {
    -ms-touch-action: manipulation;
        touch-action: manipulation; }
  .plyr video,
  .plyr audio {
    width: 100%;
    height: auto;
    vertical-align: middle;
    border-radius: inherit; }
  .plyr input[type='range'] {
    display: block;
    height: 20px;
    width: 100%;
    margin: 0;
    padding: 0;
    vertical-align: middle;
    -webkit-appearance: none;
       -moz-appearance: none;
            appearance: none;
    cursor: pointer;
    border: none;
    background: transparent; }
    .plyr input[type='range']::-webkit-slider-runnable-track {
      height: 8px;
      background: transparent;
      border: 0;
      border-radius: 4px;
      -webkit-user-select: none;
              user-select: none; }
    .plyr input[type='range']::-webkit-slider-thumb {
      -webkit-appearance: none;
      margin-top: -4px;
      position: relative;
      height: 16px;
      width: 16px;
      background: #fff;
      border: 2px solid transparent;
      border-radius: 100%;
      -webkit-transition: background .2s ease, border .2s ease, -webkit-transform .2s ease;
      transition: background .2s ease, border .2s ease, -webkit-transform .2s ease;
      transition: background .2s ease, border .2s ease, transform .2s ease;
      transition: background .2s ease, border .2s ease, transform .2s ease, -webkit-transform .2s ease;
      -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0), 0 0 0 1px rgba(0, 0, 0, 0.15);
              box-shadow: 0 1px 1px rgba(0, 0, 0, 0), 0 0 0 1px rgba(0, 0, 0, 0.15);
      -webkit-box-sizing: border-box;
              box-sizing: border-box; }
    .plyr input[type='range']::-moz-range-track {
      height: 8px;
      background: transparent;
      border: 0;
      border-radius: 4px;
      -moz-user-select: none;
           user-select: none; }
    .plyr input[type='range']::-moz-range-thumb {
      position: relative;
      height: 16px;
      width: 16px;
      background: #fff;
      border: 2px solid transparent;
      border-radius: 100%;
      -moz-transition: background .2s ease, border .2s ease, transform .2s ease;
      transition: background .2s ease, border .2s ease, transform .2s ease;
      box-shadow: 0 1px 1px rgba(0, 0, 0, 0), 0 0 0 1px rgba(0, 0, 0, 0.15);
      box-sizing: border-box; }
    .plyr input[type='range']::-ms-track {
      height: 8px;
      background: transparent;
      border: 0;
      color: transparent; }
    .plyr input[type='range']::-ms-fill-upper {
      height: 8px;
      background: transparent;
      border: 0;
      border-radius: 4px;
      -ms-user-select: none;
          user-select: none; }
    .plyr input[type='range']::-ms-fill-lower {
      height: 8px;
      background: transparent;
      border: 0;
      border-radius: 4px;
      -ms-user-select: none;
          user-select: none;
      background: #ff0080; }
    .plyr input[type='range']::-ms-thumb {
      position: relative;
      height: 16px;
      width: 16px;
      background: #fff;
      border: 2px solid transparent;
      border-radius: 100%;
      -ms-transition: background .2s ease, border .2s ease, transform .2s ease;
      transition: background .2s ease, border .2s ease, transform .2s ease;
      box-shadow: 0 1px 1px rgba(0, 0, 0, 0), 0 0 0 1px rgba(0, 0, 0, 0.15);
      box-sizing: border-box;
      margin-top: 0; }
    .plyr input[type='range']::-ms-tooltip {
      display: none; }
    .plyr input[type='range']:focus {
      outline: 0; }
    .plyr input[type='range']::-moz-focus-outer {
      border: 0; }
    .plyr input[type='range'].tab-focus:focus {
      outline-offset: 3px; }
    .plyr input[type='range']:active::-webkit-slider-thumb {
      background: #ff0080;
      border-color: #fff;
      -webkit-transform: scale(1.25);
              transform: scale(1.25); }
    .plyr input[type='range']:active::-moz-range-thumb {
      background: #ff0080;
      border-color: #fff;
      transform: scale(1.25); }
    .plyr input[type='range']:active::-ms-thumb {
      background: #ff0080;
      border-color: #fff;
      transform: scale(1.25); }

.plyr--video input[type='range'].tab-focus:focus {
  outline: 1px dotted rgba(255, 255, 255, 0.5); }

.plyr--audio input[type='range'].tab-focus:focus {
  outline: 1px dotted rgba(86, 93, 100, 0.5); }

.plyr__sr-only {
  clip: rect(1px, 1px, 1px, 1px);
  overflow: hidden;
  position: absolute !important;
  padding: 0 !important;
  border: 0 !important;
  height: 1px !important;
  width: 1px !important; }

.plyr__video-wrapper {
  position: relative;
  background: #fff;
  border-radius: inherit;
  -webkit-mask-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAIAAACQd1PeAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAA5JREFUeNpiYGBgAAgwAAAEAAGbA+oJAAAAAElFTkSuQmCC); }

.plyr__video-embed {
  padding-bottom: 56.25%;
  /* 16:9 */
  height: 0;
  overflow: hidden;
  border-radius: inherit; }
  .plyr__video-embed iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: 0;
    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none; }
  .plyr__video-embed > div {
    position: relative;
    padding-bottom: 200%;
    -webkit-transform: translateY(-35.95%);
            transform: translateY(-35.95%); }

.plyr .plyr__video-embed iframe {
  pointer-events: none; }

.plyr video::-webkit-media-text-track-container {
  display: none; }

.plyr__captions {
  display: none;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  padding: 80px;
  -webkit-transform: translateY(-240px);
          transform: translateY(-240px);
  -webkit-transition: -webkit-transform .3s ease;
  transition: -webkit-transform .3s ease;
  transition: transform .3s ease;
  transition: transform .3s ease, -webkit-transform .3s ease;
  color: #fff;
  font-size: 16px;
  text-align: center;
  font-weight: 400; }
  .plyr__captions span {
    border-radius: 2px;
    padding: 13px 40px;
    background: rgba(0, 0, 0, 0.7);
    -webkit-box-decoration-break: clone;
            box-decoration-break: clone;
    line-height: 150%; }
  .plyr__captions span:empty {
    display: none; }
  @media (min-width: 768px) {
    .plyr__captions {
      font-size: 24px; } }

.plyr--captions-active .plyr__captions {
  display: block; }

.plyr--fullscreen-active .plyr__captions {
  font-size: 32px; }

.plyr--hide-controls .plyr__captions {
  -webkit-transform: translateY(-80px);
          transform: translateY(-80px); }

.plyr ::-webkit-media-controls {
  display: none; }

.plyr__controls {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  line-height: 1;
  text-align: center; }
  .plyr__controls > button,
  .plyr__controls .plyr__progress,
  .plyr__controls .plyr__time {
    margin-left: 20px; }
    .plyr__controls > button:first-child,
    .plyr__controls .plyr__progress:first-child,
    .plyr__controls .plyr__time:first-child {
      margin-left: 0; }
  .plyr__controls .plyr__volume {
    margin-left: 20px; }
  .plyr__controls [data-plyr="pause"] {
    margin-left: 0; }
  .plyr__controls button {
    position: relative;
    display: inline-block;
    -ms-flex-negative: 0;
        flex-shrink: 0;
    overflow: visible;
    vertical-align: middle;
    padding: 28px;
    border: 0;
    background: transparent;
    border-radius: 3px;
    cursor: pointer;
    -webkit-transition: background .3s ease, color .3s ease, opacity .3s ease;
    transition: background .3s ease, color .3s ease, opacity .3s ease;
    color: inherit; }
    .plyr__controls button svg {
      width: 18px;
      height: 18px;
      display: block;
      fill: currentColor; }
    .plyr__controls button:focus {
      outline: 0; }
  .plyr__controls .icon--exit-fullscreen,
  .plyr__controls .icon--muted,
  .plyr__controls .icon--captions-on {
    display: none; }
  @media (min-width: 480px) {
    .plyr__controls > button,
    .plyr__controls .plyr__progress,
    .plyr__controls .plyr__time {
      margin-left: 40px; } }

.plyr--hide-controls .plyr__controls {
  opacity: 0;
  pointer-events: none; }

.plyr--video .plyr__controls {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  padding: 200px 40px 40px;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0)), to(rgba(0, 0, 0, 0)));
  background: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0));
  border-bottom-left-radius: inherit;
  border-bottom-right-radius: inherit;
  color: #fff;
  -webkit-transition: opacity .3s ease;
  transition: opacity .3s ease; }
  .plyr--video .plyr__controls button.tab-focus:focus, .plyr--video .plyr__controls button:hover {
    background: #ff0080;
    color: #fff; }

.plyr--audio .plyr__controls {
  padding: 40px;
  border-radius: inherit;
  background: #fff;
  border: 1px solid #dbe3e8;
  color: #565D64; }
  .plyr--audio .plyr__controls button.tab-focus:focus, .plyr--audio .plyr__controls button:hover {
    background: #ff0080;
    color: #fff; }

.plyr__play-large {
  display: none;
  position: absolute;
  z-index: 1;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  padding: 40px;
  background: #fafafa;
  border: 0px solid currentColor;
  border-radius: 100%;
  -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.15);
          box-shadow: 0 1px 1px rgba(0, 0, 0, 0.15);
  color: #000;
  -webkit-transition: all .3s ease;
  transition: all .3s ease; }
  .plyr__play-large svg {
    position: relative;
    left: 2px;
    width: 20px;
    height: 20px;
    display: block;
    fill: currentColor; }
  .plyr__play-large:focus {
    outline: 1px dotted rgba(255, 255, 255, 0.5); }

.plyr__play-large:hover {
  background-color: #ff0080;
  color: white; }

.plyr .plyr__play-large {
  display: inline-block; }

.plyr--audio .plyr__play-large {
  display: none; }

.plyr--playing .plyr__play-large {
  opacity: 0;
  visibility: hidden; }

.plyr__controls [data-plyr='pause'],
.plyr--playing .plyr__controls [data-plyr='play'] {
  display: none; }

.plyr--playing .plyr__controls [data-plyr='pause'] {
  display: inline-block; }

.plyr--fullscreen-active .icon--exit-fullscreen,
.plyr--muted .plyr__controls .icon--muted,
.plyr--captions-active .plyr__controls .icon--captions-on {
  display: block; }
  .plyr--fullscreen-active .icon--exit-fullscreen + svg,
  .plyr--muted .plyr__controls .icon--muted + svg,
  .plyr--captions-active .plyr__controls .icon--captions-on + svg {
    display: none; }

.plyr [data-plyr='captions'],
.plyr [data-plyr='fullscreen'] {
  display: none; }

.plyr--captions-enabled [data-plyr='captions'],
.plyr--fullscreen-enabled [data-plyr='fullscreen'] {
  display: inline-block; }

.plyr__tooltip {
  position: absolute;
  z-index: 2;
  bottom: 100%;
  margin-bottom: 40px;
  padding: 20px 30px;
  pointer-events: none;
  opacity: 0;
  background: rgba(0, 0, 0, 0.7);
  border-radius: 3px;
  color: #fff;
  font-size: 14px;
  line-height: 1.3;
  -webkit-transform: translate(-50%, 10px) scale(0.8);
          transform: translate(-50%, 10px) scale(0.8);
  -webkit-transform-origin: 50% 100%;
          transform-origin: 50% 100%;
  -webkit-transition: opacity .2s .1s ease, -webkit-transform .2s .1s ease;
  transition: opacity .2s .1s ease, -webkit-transform .2s .1s ease;
  transition: transform .2s .1s ease, opacity .2s .1s ease;
  transition: transform .2s .1s ease, opacity .2s .1s ease, -webkit-transform .2s .1s ease; }
  .plyr__tooltip::before {
    content: '';
    position: absolute;
    width: 0;
    height: 0;
    left: 50%;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
    bottom: -4px;
    border-right: 4px solid transparent;
    border-top: 4px solid rgba(0, 0, 0, 0.7);
    border-left: 4px solid transparent;
    z-index: 2; }

.plyr button:hover .plyr__tooltip,
.plyr button.tab-focus:focus .plyr__tooltip,
.plyr__tooltip--visible {
  opacity: 1;
  -webkit-transform: translate(-50%, 0) scale(1);
          transform: translate(-50%, 0) scale(1); }

.plyr button:hover .plyr__tooltip {
  z-index: 3; }

.plyr__controls button:first-child .plyr__tooltip {
  left: 0;
  -webkit-transform: translate(0, 10px) scale(0.8);
          transform: translate(0, 10px) scale(0.8);
  -webkit-transform-origin: 0 100%;
          transform-origin: 0 100%; }
  .plyr__controls button:first-child .plyr__tooltip::before {
    left: 37px; }

.plyr__controls button:last-child .plyr__tooltip {
  right: 0;
  -webkit-transform: translate(0, 10px) scale(0.8);
          transform: translate(0, 10px) scale(0.8);
  -webkit-transform-origin: 100% 100%;
          transform-origin: 100% 100%; }
  .plyr__controls button:last-child .plyr__tooltip::before {
    left: auto;
    right: 37px;
    -webkit-transform: translateX(50%);
            transform: translateX(50%); }

.plyr__controls button:first-child:hover .plyr__tooltip,
.plyr__controls button:first-child.tab-focus:focus .plyr__tooltip,
.plyr__controls button:first-child .plyr__tooltip--visible,
.plyr__controls button:last-child:hover .plyr__tooltip,
.plyr__controls button:last-child.tab-focus:focus .plyr__tooltip,
.plyr__controls button:last-child .plyr__tooltip--visible {
  -webkit-transform: translate(0, 0) scale(1);
          transform: translate(0, 0) scale(1); }

.plyr__progress {
  display: none;
  position: relative;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1; }
  .plyr__progress input[type="range"] {
    position: relative;
    z-index: 2; }
    .plyr__progress input[type="range"]::-webkit-slider-runnable-track {
      background: transparent; }
    .plyr__progress input[type="range"]::-moz-range-track {
      background: transparent; }
    .plyr__progress input[type="range"]::-ms-fill-upper {
      background: transparent; }
  .plyr__progress .plyr__tooltip {
    left: 0; }

.plyr .plyr__progress {
  display: inline-block; }

.plyr__progress--buffer,
.plyr__progress--played,
.plyr__volume--display {
  position: absolute;
  left: 0;
  top: 50%;
  width: 100%;
  height: 8px;
  margin: -4px 0 0;
  padding: 0;
  vertical-align: top;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  border: none;
  border-radius: 100px; }
  .plyr__progress--buffer::-webkit-progress-bar,
  .plyr__progress--played::-webkit-progress-bar,
  .plyr__volume--display::-webkit-progress-bar {
    background: transparent; }
  .plyr__progress--buffer::-webkit-progress-value,
  .plyr__progress--played::-webkit-progress-value,
  .plyr__volume--display::-webkit-progress-value {
    background: currentColor;
    border-radius: 100px;
    min-width: 8px; }
  .plyr__progress--buffer::-moz-progress-bar,
  .plyr__progress--played::-moz-progress-bar,
  .plyr__volume--display::-moz-progress-bar {
    background: currentColor;
    border-radius: 100px;
    min-width: 8px; }
  .plyr__progress--buffer::-ms-fill,
  .plyr__progress--played::-ms-fill,
  .plyr__volume--display::-ms-fill {
    border-radius: 100px; }

.plyr__progress--played,
.plyr__volume--display {
  z-index: 1;
  color: #ff0080;
  background: transparent;
  -webkit-transition: none;
  transition: none; }
  .plyr__progress--played::-webkit-progress-value,
  .plyr__volume--display::-webkit-progress-value {
    min-width: 8px;
    max-width: 99%;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    -webkit-transition: none;
    transition: none; }
  .plyr__progress--played::-moz-progress-bar,
  .plyr__volume--display::-moz-progress-bar {
    min-width: 8px;
    max-width: 99%;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    -moz-transition: none;
    transition: none; }
  .plyr__progress--played::-ms-fill,
  .plyr__volume--display::-ms-fill {
    display: none; }

.plyr__progress--buffer::-webkit-progress-value {
  -webkit-transition: width .2s ease;
  transition: width .2s ease; }

.plyr__progress--buffer::-moz-progress-bar {
  -moz-transition: width .2s ease;
  transition: width .2s ease; }

.plyr__progress--buffer::-ms-fill {
  -ms-transition: width .2s ease;
  transition: width .2s ease; }

.plyr--video .plyr__progress--buffer,
.plyr--video .plyr__volume--display {
  background: rgba(255, 255, 255, 0.25); }

.plyr--video .plyr__progress--buffer {
  color: rgba(255, 255, 255, 0.25); }

.plyr--audio .plyr__progress--buffer,
.plyr--audio .plyr__volume--display {
  background: rgba(198, 214, 219, 0.67); }

.plyr--audio .plyr__progress--buffer {
  color: rgba(198, 214, 219, 0.67); }

.plyr--loading .plyr__progress--buffer {
  -webkit-animation: plyr-progress 1s linear infinite;
          animation: plyr-progress 1s linear infinite;
  background-size: 25px 25px;
  background-repeat: repeat-x;
  background-image: linear-gradient(-45deg, rgba(0, 0, 0, 0.15) 25%, transparent 25%, transparent 50%, rgba(0, 0, 0, 0.15) 50%, rgba(0, 0, 0, 0.15) 75%, transparent 75%, transparent);
  color: transparent; }

.plyr--video.plyr--loading .plyr__progress--buffer {
  background-color: rgba(255, 255, 255, 0.25); }

.plyr--audio.plyr--loading .plyr__progress--buffer {
  background-color: rgba(198, 214, 219, 0.67); }

.plyr__time {
  display: inline-block;
  vertical-align: middle;
  font-size: 14px; }

.plyr__time + .plyr__time {
  display: none; }
  @media (min-width: 768px) {
    .plyr__time + .plyr__time {
      display: inline-block; } }
  .plyr__time + .plyr__time::before {
    content: '\2044';
    margin-right: 40px; }

.plyr__volume {
  display: none; }

.plyr .plyr__volume {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  position: relative; }
  .plyr .plyr__volume input[type="range"] {
    position: relative;
    z-index: 2; }
  @media (min-width: 480px) {
    .plyr .plyr__volume {
      display: block;
      max-width: 60px; } }
  @media (min-width: 768px) {
    .plyr .plyr__volume {
      max-width: 100px; } }

.plyr--is-ios .plyr__volume,
.plyr--is-ios [data-plyr='mute'] {
  display: none !important; }

.plyr--fullscreen,
.plyr--fullscreen-active {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  height: 100%;
  width: 100%;
  z-index: 10000000;
  background: #000;
  border-radius: 0; }
  .plyr--fullscreen video,
  .plyr--fullscreen-active video {
    height: 100%; }
  .plyr--fullscreen .plyr__video-wrapper,
  .plyr--fullscreen-active .plyr__video-wrapper {
    height: 100%;
    width: 100%; }
  .plyr--fullscreen .plyr__controls,
  .plyr--fullscreen-active .plyr__controls {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0; }
  .plyr--fullscreen.plyr--vimeo .plyr__video-wrapper,
  .plyr--fullscreen-active.plyr--vimeo .plyr__video-wrapper {
    height: 0;
    top: 50%;
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%); }

/*# sourceMappingURL=../../maps/plyr/plyr.css.map */
