<!-- audio element -->
{% if(post.meta('audio_file')) %}
    <div class="row">
        <div class="audio-player col-xs-24">
            <audio controls>
                <source src="{{ post.audio_file }}" type="audio/mpeg">
                Your browser does not support the audio element.
            </audio>
        </div>
    </div>
{% endif %}



