{% if image %}
    {% set image = Image(image) %}
{% endif %}
{% if format == false %}
    {% set format = 'original' %}
{% endif %}
{% if object_fit == false %}
    {% set object_fit = 'cover' %}
{% endif %}
{% if caption == false %}
    {% set caption = image.caption %}
{% endif %}
{% if type == 'square' %}
    {% set type = type ~ '-' %}
{% else %}
    {% set type = '' %}
{% endif %}
{% if image %}
    <figure>
        <div class="img-fit-wrap img-fit-wrap__{{ format }} {% if image %}has-image{% endif %}">
            <img aria-describedby="ihr-custom-{{ block.id }}-caption" {% if is_preview == false %}data-{% endif %}src="{{ image.src }}" {% if is_preview == false %}data-{% endif %}srcset="{{image.src('ru-image-' ~ type ~ '768w') }} 480w,
                                                         {{image.src('ru-image-' ~ type ~ '1030w') }} 1280w,
                                                     {{image.src('ru-image-' ~ type ~ '1600w') }} 1280w,
                                                     {{image.src('ru-image-' ~ type ~ '1900w') }} 1600w"
                 {% if is_preview == false %}data-{% endif %}sizes="auto" alt="{{ site.title }} - {% if image.alt %}{{ image.alt }}{% else %}{{ image.title }}{% endif %}" class="img-fit {{ object_fit }} {% if is_preview == false %}lazyload{% endif %} {{ classes }}" />
        </div>
        {% if caption %}
            <figcaption id="custom-{{ block.id }}-caption" class="caption">
                {{ caption }}
            </figcaption>
        {% endif %}
    </figure>
{% else %}
    <div class="img-fit-wrap img-fit-wrap__{{ format }}"></div>
{% endif %}