{% if image %}
    {% set image = Image(image) %}
{% endif %}
{% if type == 'square' %}
    {% set type = type ~ '-' %}
{% else %}
    {% set type = '' %}
{% endif %}
{% if image %}
<figure class="img-responsive-height">
    <img {% if fit %}style="object-fit: {{ fit }}; width:90%;"{% endif %} aria-describedby="custom-{{ block.id }}-caption" {% if is_preview == false %}data-{% endif %}src="{{ image.src }}"{% if is_preview == false %}data-{% endif %}srcset="{{image.src('ru-image-' ~ type ~ '768w') }} 480w,
                                                     {{image.src('ru-image-' ~ type ~ '1030w') }} 1280w,
                                                     {{image.src('ru-image-' ~ type ~ '1600w') }} 1280w,
                                                     {{image.src('ru-image-' ~ type ~ '1900w') }} 1600w"
         {% if is_preview == false %}data-{% endif %}sizes="auto" alt="{{ site.title }} - {% if image.alt %}{{ image.alt }}{% else %}{{ image.title }}{% endif %}" class="img-responsive-height {% if is_preview == false %}lazyload{% endif %} {{ classes }}" />
    {% if caption %}
        <figcaption id="custom-{{ block.id }}-caption" class="caption">
            {{ caption }}
        </figcaption>
    {% endif %}
</figure>
{% else %}
    <!-- no image found for id --> {{ image_id }}
{% endif %}