<!-- slick slider -->
{% if post.get_field('images')|length > 0 %}
    <div class="slider-wrap-outer">
        <div class="slider-wrap">
            {% for image in post.get_field('images') %}
                <img class="" src="{{TimberImage(image.image).src('large')}}" alt="{{ image.title }}" />
            {% endfor %}
        </div>
        <div class="slick-slide-button prev">
            <div class="svg-arrow-2020-left svg-arrow-2020-left-dims"></div>
        </div>
        <div class="slick-slide-button next">
            <div class="svg-arrow-2020-right svg-arrow-2020-right-dims"></div>
        </div>
    </div>
{% endif %}