<div class="alimni-list-item col-xs-24 col-md-12 no-padding">
    <div class="alimni-list-item-text-wrap col-xs-24 col-md-21 no-padding">
        {% if hide_title != true %}
            <h3 class="project-list-item-headline uppercase">{{ post.post_title }}</h3>
        {% endif %}
        <div class="project-list-item-copy">{{ post.content }}</div>
    </div>
</div>