<div class="project-list-item no-line member">
    <div class="project-list-item-inner">
        <div class="row">
            <div class="col-xs-24 col-md-12 col-md-push-12 project-list-item-inner-right">
                {% if post.thumbnail %}
                    <!-- has teaser image -->
                    {% set img = Image(post.thumbnail)  %}
                    <div class="project-teaser-image" style="background-image:url({{img.src('ptf-16x9_large') }})"></div>
                {% else %}
                    <!-- has no teaser image -->
                    <div class="project-teaser-image default" style="background-image:url({{ theme.link }}/library/images/prototypefund-project-default.png)"></div>
                {% endif %}
            </div>
            <div class="col-xs-24 col-md-11 col-md-pull-12 project-list-item-inner-left">
                <div class="project-list-item-text-wrap">
                    {% if hide_title != true %}
                        <h3 class="project-list-item-headline uppercase">{{ post.post_title }}</h3>
                    {% endif %}
                    <div class="project-list-item-copy">{{ post.content }}</div>
                </div>
            </div>
        </div>

    </div>
</div>