<div style="opacity:0;" data-title="{{ post.post_title }}" class="isotope-item flip-container tile-link featured {{ post.filters }} twitter-retweet-link col-xs-24 no-padding" data-type="ptf-project" {% if projects_active == true %} data-href="{{ post.link }}"{% endif %} >
    <div class="flipper tile ptf-project featured {% if projects_active == true %} active {% endif %}">
        <div class="front">
            <div class="tile-hover"></div>
            <div class="row">
                <div class="col-xs-24 col-sm-12 col-sm-push-12 no-padding project-video-wrap">
                    {% if(post.video_embed) %}
                        <div class="video-wrap videoWrapper videoWrapper169 js-videoWrapper">
                            <!-- YouTube iframe. -->
                            <!-- note the iframe src is empty by default, the url is in the data-src="" argument -->
                            <!-- also note the arguments on the url, to autoplay video, remove youtube adverts/dodgy links to other videos, and set the interface language -->
                            <iframe class="videoIframe js-videoIframe" src="" frameborder="0" allowTransparency="true" allowfullscreen data-src="{{ function('get_video_embedable_url',post.video_embed) }}?autoplay=1&modestbranding=1&rel=0&hl=sv"></iframe>
                            <!-- the poster frame - in the form of a button to make it keyboard accessible -->

                            <div class="poster-wrap button-hidden">

                                <button class="videoPoster js-videoPoster" style="background-image:url(
                                {% if post.videoposter %}
                                    {{ TimberImage(post.videoposter).src('ru-image-1030w') }}
                                {% else %}
                                    {{ function('get_video_poster_url',post.video_embed) }}
                                {% endif %});">
                                    <div class="youtube-warning">
                                        {{ options.youtube_warning_text }}
                                    </div>
                                    <span class="sr-only">YouTube video</span>
                                </button>
                            </div>
                        </div>
                    {% endif %}
                </div>
                <div class="col-xs-24 col-sm-12 col-sm-pull-12 project-info-wrap no-padding">
                    <div class="tile-click-area"></div>
                    <div class="project-image" style="opacity:0;">
                        {% if(post.thumbnail) %}
                            <img src="{{post.thumbnail.src('ptf-project')}}" alt="{{post.title}}" />
                        {% else %}
                            <img src="{{ theme.link }}/library/images/prototypefund-project-default.png" alt="{{post.title}}" />
                        {% endif %}
                    </div>
                    <div class="inner-wrapper">
                        <div class="top-align">
                            <div class="title col-xs-20 col-sm-20 no-padding">
                                {{ post.post_title }}
                            </div>
                            <div class="info col-xs-20 col-sm-20 no-padding">
                                <div class="user">
                                    {% for item in post.get_field('members') %}
                                        {% if item.url %}
                                            <a href="{{item.url}}" target="_blank">{{item.name}}</a>
                                        {% else %}
                                            {{item.name}}
                                        {% endif %}
                                        {% if(loop.last == false) %},{% endif %}
                                    {% endfor %}
                                    &nbsp;
                                            <span class="categories">
                                                {% for item in post.cats %}
                                                    #{{item.name}}&nbsp;
                                                {% endfor %}
                                            </span>
                                </div>
                            </div>
                            <div class="text col-xs-23 col-md-23 no-padding">
                                {{ post.excerpt }}
                            </div>
                        </div>
                    </div>
                    <div class="svg-icon svg-icon-project svg-news-topost svg-news-topost-dims"></div>
                </div>
            </div>
        </div>
    </div>
</div>