<div class="search-list-item">
    <div class="search-list-item-inner">
        <div class="row">
            <div class="col-xs-24">
                <h3 class="search-list-item-headline uppercase"><a href="{{ post.link }}">{{ post.post_title }}</a></h3>
                {% if post.post_type != "project" %}
                    <p>{{ post.preview.read_more( '' ) }}</p>
                {% else %}
                    <p>{{ post.meta('content1') }}</p>
                {% endif %}

                <div class="search-list-item-link">
                    <span class="search-list-item-type fontsize-small uppercase">
                        {% if post.post_type == "post" %}
                            {{ options.search_result_blog }}
                        {% elseif post.post_type == "project" %}
                            {{ options.search_result_project }}
                        {% else  %}
                            {{ options.search_result_page }}
                        {% endif %}
                        · {{ post.date("j.M Y") }}
                    </span>
                    <a href="{{ post.link }}" class="svg-arrow-2020-right svg-arrow-2020-right-dims arrow-right"></a>
                </div>
            </div>
        </div>
    </div>
</div>