{% extends "base-page.twig" %}

{% block content %}
    <section class="section fullwidth section-top-margined">
        <div class="row">
            <div class="centered-page-area event-archive">
                {{eo_get_template_part}}
            </div>
        </div>
    </section>
{% endblock %}
