{% block html_head_container %}
{% include 'views/html-header.twig' %}
	{% block head %}
	{% endblock %}
{% endblock %}

	<body {{ fn('body_class') }} itemscope itemtype="http://schema.org/WebPage" >

        {% if isHome %}

        {% endif %}

        <div class="slidebar" >

            <div class="site-menu-inner">
                {% if(options.is_deadline_reached == 0) %}
                    {% for item in applynav.get_items %}
                        {% if( loop.last ) %}<a class="boxed-link sidebar-fixed-apply-now-btn fixed-top-left" href="{{item.get_link}}">{{item.title}}</a>{% endif %}
                    {% endfor %}
                {%  endif %}

                <nav role="navigation" itemscope itemtype="http://schema.org/SiteNavigationElement">

                    <ul class="nav main-nav">
                        {% for item in mainnav.get_items %}
                            <li class="menu-item {{item.classes | join(' ')}}"><a class="nav-main-link" href="{{item.get_link}}">{{item.title}}</a>
                            </li>
                        {% endfor %}
                    </ul>

                </nav>

                <nav class="nav-language">
                    {% for language in options.languages %}
                        <a class="language-switch {% if (language.active == 1)%}active{% endif %}" href="{{language.url}}">{{language.language_code}}</a>
                    {% endfor %}
                </nav>

                <div class="meta-wrap" >
                    {% include 'inc/mailchimp.twig' with {'form_id': '1'} %}
                    {% include 'views/cta-social.twig' %}

                    <nav role="navigation" itemscope itemtype="http://schema.org/SiteNavigationElement">
                        <ul class="nav sidebar-nav">
                            {% for item in footernav.get_items %}
                                <li class="menu-item {{item.classes | join(' ')}}"><a class="nav-main-link" href="{{item.get_link}}">{{item.title}}</a>
                                </li>
                            {% endfor %}
                        </ul>
                    </nav>
                </div>

            </div>

        </div>

        <div class="{{ options.is_deadline_reached }} btn-totop gone svg-nav-totop svg-nav-totop-dims"></div>

        {% if(options.is_deadline_reached == 0) %}
        <div >
            {% for item in applynav.get_items %}
                {% if(post.id != 9) %}{% if( loop.last ) %}<a id="fixed-navigation" canvas="" class="boxed-link page-fixed-apply-now-btn fixed-top-right" href="{{item.get_link}}">{{item.title}}</a>{% endif %}{% endif %}
            {% endfor %}
        </div>
        {% endif %}

        <div id="fixed-logo-p" style="opacity:0;">
            <a class="logo-link" href="{{ site.url }}">
                <div class="svg-logo-p svg-logo-p-dims" ></div>
            </a>
            <div class="nav-toggle toggle-menu">
                <span></span>
            </div>

        </div>


        <div id="sb-site" canvas="container">

            <div class="toggle-menu-wrapper">
                <div class="nav-toggle toggle-menu">
                    <span></span>
                </div>
            </div>

            <header class="header {% if isHome %}home{% endif %}">
                <div class="header-inner-wrapper">

                    <div class="logo-large-wrapper show">
                        <a href="{{ site.url }}">
                            <h1 class="logo" title="{{ options.logo_title }}">
                                <img class="img-responsive" src="{{ theme.link }}/library/images/logo-ptf.svg"/>
                            </h1>
                        </a>
                    </div>
                    <div class="toggle-menu-wrapper-mobile">
                        <div class="nav-toggle toggle-menu">
                            <span></span>
                        </div>
                    </div>


                </div>
                {% if show_social_bar_in_header %}
                    {% include 'views/cta-social.twig' %}
                {% endif %}
                {% if show_category_filters %}

                {% endif %}

            </header>

			<article id="content" class="article {% if isHome %}home{% endif %} {% if isSingle %}single{% endif %}">

                {% block content %}
                    Sorry, no content
                {% endblock %}

                <section class="section fullwidth">
                    <div class="centered-page-area">
                        {% include 'inc/mailchimp.twig' with {'type': 'big', 'form_id': '2'} %}
                        {% include 'views/cta-social.twig' with {'type': 'big'} %}
                    </div>
                </section>

                <section class="section fullwidth">
                    <div class="centered-page-area">
                        {% include 'views/footer.twig' %}
                    </div>
                </section>
                <section class="section fullwidth">
                    {% include 'views/sponsors.twig' %}
                </section>

			</article>

            {% block footer %}
                {{ function('wp_footer') }}
            {% endblock %}
        </div>

        <!-- Piwik -->
        <script type="text/javascript">
            var _paq = _paq || [];
            _paq.push(["setDocumentTitle", document.domain + "/" + document.title]);
            _paq.push(["setCookieDomain", "*.prototypefund.de"]);
            _paq.push(["setDomains", ["*.prototypefund.de","*.prototypefund.de"]]);
            _paq.push(['trackPageView']);
            _paq.push(['enableLinkTracking']);
            (function() {
                var u="//traffic.okfn.de/";
                _paq.push(['setTrackerUrl', u+'piwik.php']);
                _paq.push(['setSiteId', 21]);
                var d=document, g=d.createElement('script'), s=d.getElementsByTagName('script')[0];
                g.type='text/javascript'; g.async=true; g.defer=true; g.src=u+'piwik.js'; s.parentNode.insertBefore(g,s);
            })();
        </script>
        <noscript><p><img src="//traffic.okfn.de/piwik.php?idsite=21" style="border:0;" alt="" /></p></noscript>
        <!-- End Piwik Code -->

        <script>

            var currentPageId = {{ post.id }};
            var themePath = '{{ site.theme.path }}';
            var siteURL = '{{ site.url }}';
            var languageCode = '{{ options.languageCode }}';
            var isHome = '{{ isHome }}';
            {% if post.get_field('projects_total') %}
            var totalProject = '{{ post.get_field('projects_total') }}';
            {% endif %}
            {% if post.get_field('fill_percentage') %}
            var fillPercentage = '{{ post.get_field('fill_percentage') }}';
            {% endif %}

            function onFormularSend(){
                window.controller.onFormularSend();
            }

            jQuery(document).ready(function($) {
                window.controller = new Controller($);
                window.controller.init();
            });
        </script>

    </body>
</html>