<div id="footer-wrap" class="row">
    <section class="section col-xs-24">
        <div class="footer-2020 row">
            <div class="col-xs-24 col-md-12">
                <div class="row">
                    <div class="col-xs-24 col-md-12 col-lg-9 col-xlg-8 no-padding">
                        <div class="social-2020">
                            {{ options.social_text }}
                        </div>
                    </div>
                    <div class="col-xs-24 col-md-12 col-md-push-4 no-padding conversation-text">
                        {{ options.conversation_text }}
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-24 col-sm-20 no-padding footer-text-2020">{{ options.footer_text }}</div>
                </div>
                <div class="row">
                    <div class="col-xs-24 no-padding sponsors">
                        {% if options.footer_logos %}
                            {% for logo in options.footer_logos %}
                                <div class="sponsor-item">
                                    <p class="sponsor-item-caption">{{ logo.footer_logo_headline }}</p>
                                    <a href="{{ logo.footer_logo_url }}" target="_blank"><img class="img-responsive" src="{{TimberImage(logo.footer_logo_image).src}}" alt="{{logo.footer_logo_image.alt}}"></a>
                                </div>
                            {% endfor %}
                        {% endif %}
                    </div>
                </div>
            </div>
            <div class="col-xs-24 col-md-12 footer-2020-right no-padding">
                <div class="col-xs-24 col-md-10 col-md-push-16 no-padding hidden-xs hidden-sm">
                    <p>
                        {% if options.newsletter_button_url %}
                            {% include 'inc/arrow-link.twig' with {'title': options.newsletter_button_title , 'url': options.newsletter_button_url } %}
                        {% endif %}
                    </p>
                </div>
                <div class="col-xs-24 col-md-16 col-md-push-12 col-lg-10 col-lg-push-15 no-padding legal-wrap">
                    <nav role="navigation" itemscope itemtype="http://schema.org/SiteNavigationElement">
                        <ul class="nav footer-nav">
                            {% for item in footernav.get_items %}
                                <li class="menu-item {{item.classes | join(' ')}}"><a class="nav-main-link" href="{{item.get_link}}">{{item.title}}</a>
                                </li>
                            {% endfor %}
                        </ul>
                    </nav>
                </div>
            </div>
        </div>
    </section>
</div>


