<div class="row">
    <div class="footer-text col-xs-24 col-sm-20 col-md-16 no-padding">
        {{ options.footer_text }}
    </div>
</div>
<div class="row">
    <nav role="navigation" itemscope itemtype="http://schema.org/SiteNavigationElement">
        {% if( post.id != 58 and post.id != 157) %}
            <ul class="nav footer-nav">
                {% for item in footernav.get_items %}
                    <li class="menu-item {{item.classes | join(' ')}}"><a class="nav-main-link" href="{{item.get_link}}">{{item.title}}</a>
                    </li>
                {% endfor %}
            </ul>
        {% endif %}
    </nav>
</div>


