{% extends "base-page-2020.twig" %}
{% block content %}
    <div class="page-2020-wrap no-padding-bottom one-column">
        <article id="post-{{ post.id }}" {{ fn('post_class','fullwidth fullheight cf') }} role="article" itemscope itemtype="http://schema.org/BlogPosting">
            <div class="col-xs-24">
                <h1 class="projects-intro-headline">
                    {{ post.post_title }}
                </h1>
            </div>
            <div class="col-xs-24">
                {{ post.content | shortcodes }}
            </div>
        </article>
    </div>
    <section class="section fullwidth gallery-tile-wrapper">
        <div class="grid-sizer col-xs-24 col-sm-12 col-md-8 col-lg-6"></div>
        {% for post in submissions %}
            <div class="gallery-tile col-xs-24 col-sm-12 col-md-8 col-lg-6" style="opacity:1">
                <div class="gallery-tile-link" >
                    <div class="inner-wrapper">
                        {% set img = Image(post.thumbnail)  %}
                        <img src="{{img.src}}" class="img-responsive" alt="{{post.title}}" />
                    </div>
                </div>
            </div>
        {% endfor %}
    </section>
{% endblock %}
