{% extends "base-page.twig" %}

{% block content %}
        <div class="row">
            <div class="logo-margin-page-area">
                <div class="tile-wrapper news-tile-wrapper col-xs-24">
                    {% for post in blogposts %}
                        <div class="news-tile col-xs-24 col-sm-12 col-md-8 col-lg-6 no-padding">
                                <a data-index="{{ loop.index0 }}" href="{{ function('get_permalink', post.ID) }}" class="news-tile-inner">
                                    <div class="svg-icon svg-news-topost-new svg-news-topost-new-dims"></div>
                                    <div class="news-tile-hover">
                                        <div class="news-tile-excerpt">
                                            {{ function('wp_trim_words', post.get_field('excerpt'), 40, '...') }}
                                        </div>
                                        <div class="news-tile-color {% if TimberImage(post.thumbnail).src('large')|length %}with-image{% endif %}" ></div>
                                        {% if TimberImage(post.thumbnail).src('large')|length > 0 %}<div class="news-tile-image" style="background-image:url({{ TimberImage(post.thumbnail).src('large') }})"></div>{% endif %}
                                    </div>
                                    <div class="news-tile-content">
                                        <div class="news-tile-content-inner">
                                            <div class="info col-xs-24 no-padding">
                                                <div class="user">
                                                    {{ options.blog_title }}
                                                </div>
                                                <div class="time-passed">
                                                    {{ function('timePassedSinceDate', post.post_date) }}
                                                </div>
                                            </div>
                                            <div class="text col-xs-24 no-padding">
                                                {{ post.post_title }}
                                            </div>
                                        </div>
                                    </div>
                                </a>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>

{% endblock %}
