{% extends "base-page-2020.twig" %}

{% block content %}
	<div class="page-2020-wrap">
		{% include 'inc/page-intro-block.twig' %}
		{% if hide_filters == false %}
			<div class="row filter-wrap" data-filter="{{ filter }}">
				<div class="col-xs-24">
                    <!-- RUNDEN -->
					<div data-id="rounds" class="rounds filter-tab">
						<div class="filter-tab-header">
							<h4 class="filter-headline">{{ options.filter_title_rounds }}</h4>
						</div>
						<div class="filter-tab-content">
							<div class="filter-tab-content-inner row">
								<div class="col-xs-24">
									{% for item in projects_rounds_filter %}
										<a href="{{ item.url }}" data-filter="{{ item.slug }}" class="btn-project-filter">
											<span>{{item.title}}</span>
										</a>
									{% endfor %}
								</div>
							</div>
						</div>
					</div>
                    <!-- THEMEN -->
					<div data-id="topics" class="topics filter-tab">
						<div class="filter-tab-header">
							<h4 class="filter-headline">{{ options.filter_title_topics }}</h4>
						</div>
						<div class="filter-tab-content">
							<div class="filter-tab-content-inner row">
								<div class="col-xs-24">
									<div data-reset="topics" class="btn-filter-reset hidden">
										<span></span>
									</div>
									{% for item in cats %}
										{% if item.slug != 'uncategorised' %}
											<div data-filter="{{ item.slug }}" class="btn-project-filter">
												<span>{{item.name}}</span>
											</div>
										{% endif %}
									{% endfor %}
								</div>
                                <div class="col-xs-24">
                                    <div class="topic-description-wrap hidden">
                                        {% for item in cats %}
                                            {% if item.slug != 'uncategorised' %}
                                                {% if item.description|length > 0 %}
                                                    <div data-slug="{{ item.slug }}" class="topic-description hidden">
                                                        <p>{{ item.description }}</p>
                                                    </div>
                                                {% endif %}
                                            {% endif %}
                                        {% endfor %}

                                    </div>
                                </div>
							</div>
						</div>
					</div>

                    <!-- DATAVIZ -->
                    <div data-id="dataviz" class="map filter-tab">
                        <div class="filter-tab-header">
                            <h4 class="filter-headline">{{ options.filter_title_map }}</h4>
                        </div>
                        <div class="filter-tab-content">
                            <div class="filter-tab-content-inner row">
                                <div class="col-xs-24">
                                    <iframe src="https://prototypefund.de/dataviz/#projects" title="Prototypefund Dataviz"></iframe>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- TIMELINE -->
                    <div data-id="timeline" class="timeline filter-tab">
                        <div class="filter-tab-header">
                            <h4 class="filter-headline">{{ options.filter_title_timeline }}</h4>
                        </div>
                        <div class="filter-tab-content">
                            {% if post.round_image_desktop %}
                                <div class="wp-block-image desktop">
                                    <img src="{{ TimberImage(post.round_image_desktop).src('full') }}" alt="Runden Timeline" class="img-responsive"/>
                                </div>
                            {% endif %}
                            {% if post.round_image_mobile %}
                                <div class="wp-block-image mobile rounds-mobile">
                                    <img src="{{ TimberImage(post.round_image_mobile).src('full') }}" alt="Runden Timeline" class="img-responsive"/>
                                </div>
                            {% endif %}
                        </div>
                    </div>
                    <!-- CODE -->
                    <div data-id="code" class="code-tab filter-tab">
                        <div class="filter-tab-header">
                            <h4 class="filter-headline">{{ options.filter_title_code }}</h4>
                        </div>
                        <div class="filter-tab-content">
                            <div class="filter-tab-content-inner row">
                                <div class="col-xs-24 col-md-12 col-md-offset-6">
                                    <div class="projects-text-wrap">
                                        {{ code_page_content }}
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>

				</div>
			</div>
		{% endif %}
		<div class="projects-list" style="opacity:0;">
            {% set page_index = 1 %}
            {% set projects_per_page = posts_per_page %}
            {% set index = 0 %}
			{% for post in projects %}
				{% if post.get_field('featured') == 1 %}
					{% include 'views/inc/project-list-item.twig' with {'page_index': page_index} %}
                    {% set index = index + 1 %}
                    {% if index == projects_per_page %}
                        {% set page_index = page_index + 1 %}
                        {% set index = 0 %}
                    {% endif %}
				{% endif %}
			{%  endfor %}
			{% for post in projects %}
				{% if post.get_field('featured') != 1 %}
                    {% include 'views/inc/project-list-item.twig' with {'page_index': page_index} %}
                    {% set index = index + 1 %}
                    {% if index == projects_per_page %}
                        {% set page_index = page_index + 1 %}
                        {% set index = 0 %}
                    {% endif %}
				{% endif %}
			{% endfor %}
		</div>
		<div class="row">
			<div class="col-xs-24">
				<h4 class="nothing-found-info hidden h1">{{ options.nothing_found_info }}</h4>
			</div>
		</div>
        {% if show_pagination %}
            <div class="row">
                <div class="col-xs-24">
                    <div class="projects-pagination">
                        <div class="projects-pagination-inner">
                            {% for i in range(1, pages_count) %}
                                <div class="projects-pagination-btn {% if loop.index0 == 0 %}active{% endif %}" data-id="{{ i }}">
                                    <span>{{ i }}</span>
                                </div>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
        {% endif %}
	</div>

{% endblock %}
