{% extends "base-page.twig" %}

{% block content %}

    <section class="section fullwidth fullheight canvas-mesh">
        {% include 'views/paper-canvas-mesh.twig' %}
    </section>
    <section class="section fullwidth fullheight front-content sticky-wrapper">
        <div class="row">
            <div data-sticky-container class="centered-page-area frontpage-area">
                <div class="row">
                    <h1 class="col-xs-24 col-md-15 col-lg-14 frontpage-headline">{{ post.frontpage_headline }}</h1>
                </div>
                <div class="row">
                    <div class="col-xs-24 col-md-15 col-lg-14 content-area">
                        <div class="col-xs-24 no-padding">
                            {{ post.content_left_top|wpautop }}
                        </div>
                        <div class="col-xs-24 no-padding">
                            {{ post.content_left_bottom|wpautop }}
                        </div>
                        <div class="col-xs-24 no-padding">
                            {% for item in applynav.get_items %}
                                {% if(loop.last) %}
                                    <!-- apply button only when deadline in not reached -->
                                    {% if(options.is_deadline_reached == 0) %}
                                        <div class="boxed-link-wrapper">
                                            <a class="boxed-link page" href="{{item.get_link}}">{{item.title}}</a>
                                        </div>
                                    {% endif %}
                                {% else %}
                                    <div class="boxed-link-wrapper">
                                        <a class="boxed-link page" href="{{item.get_link}}">{{item.title}}</a>
                                    </div>
                                {% endif %}
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>

            <div data-margin-top="200" class="frontpage-info-box-right sticky col-xs-22 col-xs-push-2 col-md-8 col-md-push-16 col-lg-10 col-lg-push-0 content-area no-padding grey right grey-box">
                <div class="row">
                    <div class="col-xs-24">
                        {{ post.content_right|wpautop  }}
                    </div>
                </div>
            </div>

        </div>
    </section>
    <section class="section fullwidth fullheight fit-to-mobile margin-bottom-50 canvas-push">
        {% include 'views/paper-canvas-push.twig' %}
    </section>
{% endblock %}
