{% extends "base-page.twig" %}

{% block content %}
        <div class="row">
            <div class="logo-margin-page-area">
                <div class="tile-wrapper news-tile-wrapper col-xs-24 no-padding">
                    {% for post in blogposts %}
                        {% if post.type == 'wp-blogpost'%}
                            <div class="grid-sizer col-xs-24 col-sm-12 col-md-8 col-lg-6"></div>
                            <div style="opacity:0;" class="tile-link twitter-retweet-link col-xs-24 {% if post.type == 'wp-blogpost' %}col-sm-12 col-md-16 col-lg-12{% else %}col-sm-12 col-md-8 col-lg-6{% endif %} no-padding" data-type="{{ post.type }}" data-href="{{ post.url }}">
                                <div class="tile {{ post.type }}">
                                    <div class="tile-hover"></div>
                                    <div class="inner-wrapper">
                                        <div class="center-align">
                                            <div class="info col-xs-24 no-padding">
                                                <div class="user">
                                                    {{ post.username }}
                                                </div>
                                                <div class="time-passed">
                                                    {{ post.time_passed }}
                                                </div>
                                            </div>
                                            <div class="text col-xs-24 no-padding">
                                                {{ post.text }}
                                            </div>
                                            {% if post.type == 'wp-blogpost'%}
                                                <div class="excerpt col-xs-24 col-md-22 no-padding">
                                                    {{ post.excerpt }}
                                                </div>
                                            {% endif %}
                                        </div>
                                        <div class="svg-icon svg-icon-blog svg-news-topost svg-news-topost-dims"></div>
                                        <div class="svg-icon svg-icon-tweet svg-news-retweet svg-news-retweet-dims"></div>
                                    </div>
                                </div>
                            </div>
                        {% endif %}
                    {% endfor %}
                </div>
            </div>
        </div>

{% endblock %}
