{% extends "base-page-2020.twig" %}

{% block content %}
	<div class="page-2020-wrap">
		{% include 'views/inc/page-intro-block.twig' %}
		<div class="row filter-wrap" data-filter="">
			<div class="col-xs-24">
				<h2>{{ post.get_field('basics_headline') }}</h2>
			</div>
			<div class="col-xs-24">
				{% if post.get_field('basics_blocks') %}
					{% for block in post.get_field('basics_blocks') %}
						<div class="filter-tab" id="basics-{{ loop.index }}">
							<div class="filter-tab-header">
								<h4 class="filter-headline">{{ block.headline }}</h4>
							</div>
							<div class="filter-tab-content" style="height: 0px; display: block;">
								<div class="filter-tab-content-inner row">
									<div class="col-xs-24 col-xs-22">
										{{ block.content }}
									</div>
								</div>
							</div>
						</div>
					{% endfor %}
				{% endif %}
			</div>
			<div class="col-xs-24">
				<h2>{{ post.get_field('details_headline') }}</h2>
			</div>
			<div class="col-xs-24">
				{% if post.get_field('details_blocks') %}
					{% for block in post.get_field('details_blocks') %}
						<div class="filter-tab" id="details-{{ loop.index }}">
							<div class="filter-tab-header">
								<h4 class="filter-headline">{{ block.headline }}</h4>
							</div>
							<div class="filter-tab-content" style="height: 0px; display: block;">
								<div class="filter-tab-content-inner row">
									<div class="col-xs-24 col-md-22">
										{{ block.content }}
									</div>
								</div>
							</div>
						</div>
					{% endfor %}
				{% endif %}
			</div>
		</div>
	</div>
{% endblock %}
