{% extends "base-page.twig" %}

{% block content %}

<section class="section section-projects-content section-top-margined" >
    <div class="logo-margin-page-area projects-navi">
        <h1 class="page-title uppercase" itemprop="headline" style="opacity:0;">{{ post.post_title }}</h1>
        {% if post.content %}
            <div class="projects-overview-description col-xs-24 no-padding">
                <div class="col-xs-24 col-sm-16 no-padding">
                    {{ post.content }}
                </div>
            </div>
        {% endif %}
        <div class="col-xs-24 col-sm-16 col-md-10 col-lg-12 no-padding category-filters-wrapper" style="opacity:0;">
            {% include 'views/category-filters.twig' %}
        </div>
        {% if project_rounds_filters %}
            <div class="col-xs-24 col-sm-8 col-md-14 col-lg-12 no-padding category-filters-wrapper" style="opacity:0;">
                {% include 'views/rounds-filters.twig' %}
            </div>
        {% endif %}
        <div class="col-xs-24 content-area no-padding ">
            <div class="col-xs-24 no-padding category-description-wrap">
                <h3 class="category-description" ></h3>
            </div>
        </div>
    </div>
</section>
    <section class="section fullwidth">
        <div class="logo-margin-page-area">
            <div class="tile-wrapper projects-tile-wrapper col-xs-24 no-padding section-project-content">
                <div class="grid-sizer-projects col-xs-24 col-sm-12 col-md-8 col-lg-6 "></div>
                {% for post in projects %}
                    {% if post.featured == 1 %}
                        {% include 'views/inc/project-tile-featured.twig' %}
                    {% endif %}
                {%  endfor %}
                {% for post in projects %}
                    {% if post.featured != 1 %}
                        {% include 'views/inc/project-tile.twig' %}
                    {% endif %}
                {% endfor %}
            </div>
            <div class="no-items-in-filter centered-page-area hidden">
                <h3>{{ options.no_filter_results_text }}</h3>
            </div>
            <!-- content layer template-->
            <div class="isotope-item project-content-tile template col-xs-24 no-padding accordion collapse"></div>
        </div>
    </section>

{% endblock %}
