{% extends "base-page-2020.twig" %}

{% block content %}
    <div class="page-2020-wrap">
        {% include 'views/inc/page-intro-block.twig' %}
        <div class="members-list">
            {% for post in members_current %}
                {% include 'views/inc/member-list-item.twig' %}
            {% endfor %}
        </div>
        <div class="row">
            <div class="col-xs-24 col-md-10 projects-intro-left">
                <h2 class="projects-intro-headline">{{ post.alumni_headline }}</h2>
            </div>
        </div>
        <div class="alumni-list">
            {% set index = 0 %}
            {% for post in members_alumni %}
                {% include 'views/inc/member-list-item-alumni.twig' %}
                {% set index = index + 1 %}
                {% if index == 2 %}
                    <div class="col-xs-24 no-padding">
                        <div class="hairline"></div>
                    </div>
                    {% set index = 0 %}
                {% endif %}
            {% endfor %}
        </div>
    </div>
{% endblock %}
