{% extends "base-page.twig" %}

{% block content %}
    <section class="section fullwidth fullheight canvas-mesh">
        {% include 'views/paper-canvas-mesh.twig' %}
    </section>
    <section class="section fullwidth fullheight front-content sticky-wrapper">
        <div class="row">
            <div class="frontpage-area">
                <div class="row">
                    <div class="col-xs-24 frontpage-upper-wrap centered-page-area">
                        <div class="row">
                            <h1 class="col-xs-24 col-sm-14 col-md-15 col-lg-12 frontpage-headline">{{ post.get_field('frontpage_headline') }}</h1>
                        </div>
                        <div class="row charts-wrap">
                            <div class="col-xs-24 col-sm-8">
                                <div class="chart-container">
                                    <div class="chart-text t1 gone">{{ post.get_field('funding_amount_total')|wpautop }}</div>
                                    <canvas id="chart-1"></canvas>
                                    <canvas class="chart-bg" id="chart-1-bg"></canvas>
                                </div>
                                <h3 class="chart-subline">{{ post.get_field('chart_1_text')|wpautop  }}</h3>
                            </div>
                            <div class="col-xs-24 col-sm-8">
                                <div class="chart-container">
                                    <div class="chart-text t2 gone">{{ post.get_field('projects_total') }}</div>
                                    <canvas id="chart-2"></canvas>
                                    <canvas class="chart-bg" id="chart-2-bg"></canvas>
                                </div>
                                <h3 class="chart-subline">{{ post.get_field('chart_2_text')|wpautop  }}</h3>
                            </div>
                            <div class="col-xs-24 col-sm-8">
                                <div class="chart-container">
                                    <div class="chart-text t3 gone">{{ post.get_field('funding_sum')|wpautop }}</div>
                                    <canvas id="chart-3"></canvas>
                                    <canvas class="chart-bg" id="chart-3-bg"></canvas>
                                </div>
                                <h3 class="chart-subline">{{ post.get_field('chart_3_text')|wpautop  }}</h3>
                            </div>
                        </div>
                    </div>
                </div>
                <div data-sticky-container class="row frontpage-text-wrap">
                    <div class="col-xs-24 col-sm-14 col-md-15 col-lg-12 content-area">
                        <div class="col-xs-24 no-padding">
                            {{ post.get_field('content_left_top')|wpautop }}
                        </div>
                        <div class="col-xs-24 no-padding">
                            {{ post.get_field('content_left_bottom')|wpautop }}
                        </div>
                        <div class="col-xs-24 no-padding">
                            {% for item in applynav.get_items %}
                                {% if(loop.last) %}
                                    <!-- apply button only when deadline in not reached -->
                                    {% if(options.is_deadline_reached == 0) %}
                                        <div class="boxed-link-wrapper">
                                            <a class="boxed-link page" href="{{item.get_link}}">{{item.title}}</a>
                                        </div>
                                    {% endif %}
                                {% else %}
                                    <div class="boxed-link-wrapper">
                                        <a class="boxed-link page" href="{{item.get_link}}">{{item.title}}</a>
                                    </div>
                                {% endif %}
                            {% endfor %}
                        </div>
                    </div>
                    <div data-margin-top="100" class="frontpage-info-box-right sticky col-xs-24 col-sm-9 col-sm-push-1 col-md-8 col-md-push-1 col-lg-9 col-lg-push-3 content-area no-padding grey right grey-box">
                        <div class="row">
                            <div class="col-xs-24">
                                {{ post.get_field('content_right')|wpautop  }}
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </section>
    <section class="section fullwidth fullheight fit-to-mobile margin-bottom-50 canvas-push">
        {% include 'views/paper-canvas-push.twig' %}
    </section>
{% endblock %}
