{% extends "base-page-2020.twig" %}

{% block content %}
<main id="main">
    <div class="page-2020-wrap">
        <div class="row">
            <div class="col-xs-24 search-wrap ">
                <form method="get" role="search" action="{{ site.url }}">
                    <input type="hidden" name="lang" value="{{ options.languageCode }}">
                    <input name="s" type="search" {% if search_term %}value="{{ search_term }}"{% endif %} id="search" placeholder="{{ options.search_field_text }}"
                           class="input-rounded no-border" aria-label="{{ options.search_field_text }}">
                    <button type="submit" class="btn btn-no-hover btn-submit search" aria-label="submit search"></button>
                </form>
            </div>
        </div>
        <div class="row filter-wrap" data-filter="{{ filter }}">
            <div class="col-xs-24">

                <div data-id="topics" class="filter-tab">
                    <div class="filter-tab-header">
                        <h4 class="filter-headline">{{ options.filter_title_topics }}</h4>
                    </div>
                    <div class="filter-tab-content">
                        <div class="filter-tab-content-inner row">
                            <div class="col-xs-24">
                                {% for item in cats %}
                                    {% if item.slug != 'uncategorised' %}
                                        <a href="{{ function('get_category_link',item.term_id) }}?filter=topics" class="btn-project-filter {% if item.slug == term_slug %}selected{% endif %}">
                                            <span class="btn-filter-inner no-select">{{item.name}}</span>
                                        </a>
                                    {% endif %}
                                {% endfor %}
                            </div>
                            <div class="col-xs-24">
                                <div class="topic-description-wrap hidden">
                                    {% for item in cats %}
                                        {% if item.slug != 'uncategorised' %}
                                            {% if item.description|length > 0 %}
                                                <div data-slug="{{ item.slug }}" class="topic-description hidden">
                                                    <p>{{ item.description }}</p>
                                                </div>
                                            {% endif %}
                                        {% endif %}
                                    {% endfor %}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div data-id="categories" class="filter-tab">
                    <div class="filter-tab-header">
                        <h4 class="filter-headline">{{ options.filter_title_blog_categories }}</h4>
                    </div>
                    <div class="filter-tab-content">
                        <div class="filter-tab-content-inner row">
                            <div class="col-xs-24">
                                {% for item in blog_cats %}
                                    {% if item.slug != 'uncategorised' %}
                                        <a href="{{ function('get_category_link',item.term_id) }}?filter=categories" class="btn-project-filter {% if item.slug == term_slug %}selected{% endif %}">
                                            <span class="btn-filter-inner no-select" >{{item.name}}</span>
                                        </a>
                                    {% endif %}
                                {% endfor %}
                            </div>
                            <div class="col-xs-24">
                                <div class="topic-description-wrap hidden">
                                    {% for item in cats %}
                                        {% if item.slug != 'uncategorised' %}
                                            {% if item.description|length > 0 %}
                                                <div data-slug="{{ item.slug }}" class="topic-description hidden">
                                                    <p>{{ item.description }}</p>
                                                </div>
                                            {% endif %}
                                        {% endif %}
                                    {% endfor %}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
        <h3 class="search-result-headline">
            <span class="sr-only">{{ options.search_result_headline_singular }}</span>
            {% if search_term|length > 0 or archive_search %}
                {% if posts|length > 1 or posts|length == 0 %}
                    {{ options.search_result_headline }}
                {% else %}
                    {{ options.search_result_headline_singular }}
                {% endif %}
                <span class="primary-color">{{ posts.found_posts }}</span>
            {% endif %}
        </h3>

        {% if posts|length > 0 %}
            <div class="search-results">
                {% for post in posts %}
                    {% include 'views/inc/search-list-item.twig' %}
                {% endfor %}
            </div>
            <div class="row">
                <div class="col-xs-24">
                    <div class="search-pagination">
                        <div class="projects-pagination-inner">
                            {% for page in posts.pagination.pages %}
                                <a href="{{page.link}}" class="projects-pagination-btn {{page.class}}">
                                    <span>{{page.title}}</span>
                                </a>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
        {% else %}
            {% if search_term|length > 0 %}
                <h3>{{ options.nothing_found_info}}</h3>
            {% endif %}
        {%  endif  %}
    </div>
</main>
{% endblock %}
