{% extends "base-page.twig" %}

{% block content %}
    <section class="section section-about-content fullheight section-top-margined row">
        <div class="centered-page-area">
            <header class="row">
                <h1 class="page-title uppercase" itemprop="headline">{{ post.post_title }}</h1>
            </header>
            <div class="row">
                <div class="col-xs-18 content-area no-padding">
                    <div class="row">
                        <div class="col-xs-24 about-content">
                            {{ post.content | wpautop }}
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-24 no-padding about-accordion">
                            {% if post.get_field('about_blocks') %}
                                {% for block in post.get_field('about_blocks') %}
                                    <div class="col-xs-24 {% if loop.index0 != 0 %}col-md-18 col-lg-16{% endif %}">
                                        <div class="accordion-headline sub" >{{ block.headline }}</div>
                                        <div class="accordion-panel panel-content">
                                            {{ block.content }}
                                        </div>
                                    </div>
                                {% endfor %}
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </section>
    {% if(post.video_embed_url) %}
    <section class="section fullwidth fullheight row">
        <div class="col-md-16 col-md-push-4 embed-responsive no-padding" >
            <div class="video-wrap videoWrapper videoWrapper169 js-videoWrapper">
                <!-- YouTube iframe. -->
                <!-- note the iframe src is empty by default, the url is in the data-src="" argument -->
                <!-- also note the arguments on the url, to autoplay video, remove youtube adverts/dodgy links to other videos, and set the interface language -->
                <iframe class="videoIframe js-videoIframe" src="" frameborder="0" allowTransparency="true" allowfullscreen data-src="{{ function('get_video_embedable_url',post.video_embed_url) }}?autoplay=1&modestbranding=1&rel=0&hl=sv"></iframe>
                <!-- the poster frame - in the form of a button to make it keyboard accessible -->
                <div class="poster-wrap dark button-hidden">

                    <button class="videoPoster js-videoPoster" style="background-image:url(
                    {% if post.videoposter %}
                        {{ TimberImage(post.videoposter).src('ru-image-1030w') }}
                    {% else %}
                        {{ function('get_video_poster_url',post.video_embed) }}
                    {% endif %});">
                        <span class="sr-only">YouTube video</span>
                        <div class="youtube-warning">
                            {{ options.youtube_warning_text }}
                        </div>
                    </button>
                </div>
            </div>
        </div>
    </section>
    {% endif %}
{% endblock %}
