{% extends "base-page-2020.twig" %}

{% block content %}
	<div class="page-2020-wrap">
		{% include 'views/inc/page-intro-block.twig' %}
		<div class="row filter-wrap" data-filter="">

            {% for faqblocks in post.get_field('faq_blocks') %}
                <div class="col-xs-24">
                    <h2>{{faqblocks.headline}}</h2>
                </div>
                <div class="col-xs-24">
                    {% for block in faqblocks.blocks %}
                        <div class="filter-tab" id="{{faqblocks.id}}-{{ loop.index }}">
                            <div class="filter-tab-header">
                                <h4 class="filter-headline">{{ block.headline }}</h4>
                            </div>
                            <div class="filter-tab-content" style="height: 0px; display: block;">
                                <div class="filter-tab-content-inner row">
                                    <div class="col-xs-24 col-xs-22">
                                        {{ block.content }}
                                    </div>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            {% endfor %}
		</div>
	</div>
{% endblock %}
