<form action="https://pampig.org/" class="search-form" method="get" role="search">
    <input name="post_type[]" type="hidden" value="post"/>
    <input name="post_type[]" type="hidden" value="ct_videos"/>
    <input name="post_type[]" type="hidden" value="ct_releases"/>
    <input
    class="search-field" class="search-field" name="s" placeholder="You want some ...?" type="search" value=""/>
<!--<input type="submit" class="search-submit" value="Suche" />-->
</form>
