{% extends "base-page-2020.twig" %}
{% block content %}
    <div class="row">
        <div class="post-wrap searched col-xs-24">
            {% if posts|length > 0 %}
                {% for post in posts %}
                    {{ post.title }}
                {% endfor %}
            {% else %}
            <div class="post">
                <h2 class="post-headline">No. Nothing.</h2>
            </div>
            {%  endif  %}
        </div>
    </div>
    <div class="pagination-wrap">
        {% if pagination.prev %}
            <a href="{{pagination.prev.link}}" class="ajax-link pagination prev {{pagination.prev.link|length ? '' : 'invisible'}}"><i class="fa fa-hand-scissors-o" aria-hidden="true"></i></a>
        {% endif %}
        {% if pagination.next %}
            <a href="{{pagination.next.link}}" class="ajax-link pagination next {{pagination.next.link|length ? '' : 'invisible'}}"><i class="fa fa-hand-peace-o" aria-hidden="true"></i></a>
        {% endif %}
    </div>

{% endblock %}
