{% extends "base-page-2020.twig" %}

{% block content %}
    <section class="section fullwidth fullheight img-user-submission">
        <div class="the-p">
            <img src="{{post.thumbnail.src('large')}}" class="img-responsive-height" alt="{{post.title}}" />
        </div>
        {% if(deviceType == "computer") %}<div class="deadline-text"><a class="underlined" href="{{ site.url }}">{{ options.cta_home }}</a></div>{% endif %}
    </section>
{% endblock %}
