{% extends "base-page.twig" %}

{% block content %}
<article id="post-{{ post.id }}" {{ fn('post_class','project-single section fullwidth fullheight cf') }} role="article" itemscope itemtype="http://schema.org/BlogPosting">
        <div class="row no-margin">
            <div class="nav-toggle close-project active"><span></span></div>
            <div class="centered-page-area single-project-content">

                <div class="row">
                    <h1 class="col-xs-24 col-md-15 col-lg-16 page-title project-single-headline no-padding">{{ post.title }}</h1>
                    <div class="info col-xs-24 no-padding">
                        <div class="user">
                            {% for item in post.get_field('members') %}
                                {% if item.url %}
                                    <a href="{{item.url}}" target="_blank">{{item.name}}</a>
                                {% else %}
                                    {{item.name}}
                                {% endif %}
                                {% if(loop.last == false) %},{% endif %}
                            {% endfor %}
                            &nbsp;
                                            <span class="categories">
                                                {% for item in post.categories %}
                                                    <a class="single-post-category-link" href="{{ projects_page.link }}" data-filter=".{{ item.slug }}">#{{item.name}}&nbsp;</a>
                                                {% endfor %}
                                            </span>
                        </div>
                    </div>
                </div>
                <div class="row project-single-textblock">
                    {% if(post.get_field('video_embed_url')) %}
                    <div class="row">
                        <div class="col-xs-24 col-sm-18 col-sm-push-3 col-md-14 col-md-push-5 col-lg-14 col-lg-push-5 col-xlg-12 col-xlg-push-6 content-area">
                            <div class="video-wrap videoWrapper videoWrapper169 js-videoWrapper">
                                <!-- YouTube iframe. -->
                                <!-- note the iframe src is empty by default, the url is in the data-src="" argument -->
                                <!-- also note the arguments on the url, to autoplay video, remove youtube adverts/dodgy links to other videos, and set the interface language -->
                                <iframe class="videoIframe js-videoIframe" src="" frameborder="0" allowTransparency="true" allowfullscreen data-src="{{ function('get_video_embedable_url',post.video_embed_url) }}?autoplay=1&modestbranding=1&rel=0&hl=sv"></iframe>
                                <!-- the poster frame - in the form of a button to make it keyboard accessible -->
                                <div class="poster-wrap button-hidden">

                                    <button class="videoPoster js-videoPoster" style="background-image:url(
                                    {% if post.get_field('videoposter') %}
                                        {{ TimberImage(post.get_field('videoposter')).src('ru-image-1030w') }}
                                    {% else %}
                                        {{ function('get_video_poster_url',post.get_field('video_embed')) }}
                                    {% endif %});">
                                        <div class="youtube-warning">
                                            {{ options.youtube_warning_text }}
                                        </div>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>

                    {% endif %}
                    {% if post.get_field('intro') %}
                        <div class="row">
                            <div class="col-xs-24 col-sm-18 col-sm-push-3 col-md-14 col-md-push-5 col-lg-14 col-lg-push-5 col-xlg-12 col-xlg-push-6  content-area">
                                <!-- intro -->
                                {{ post.get_field('intro')|wpautop }}
                            </div>
                        </div>
                    {% endif %}
                    {% if post.get_field('content0') != false %}
                    <div class="row">
                        <div class="col-xs-24 col-sm-18 col-sm-push-3 col-md-14 col-md-push-5 col-lg-14 col-lg-push-5 col-xlg-12 col-xlg-push-6  content-area">
                            <!-- headline / content 0 -->
                            {% if post.get_field('headline0') %}<h3 class="accordion-headline sub">{{ post.get_field('headline0') }}</h3>{% endif %}
                            {{ post.get_field('content0')|wpautop }}
                        </div>
                    </div>
                    {% endif %}
                    {% if post.get_field('content2') != false %}
                    <div class="row">
                        <div class="col-xs-24 col-sm-18 col-sm-push-3 col-md-14 col-md-push-5 col-lg-14 col-lg-push-5 col-xlg-12 col-xlg-push-6  content-area">
                            <!-- headline / content 2 -->
                            {% if post.get_field('headline2') %}<h3 class="accordion-headline sub">{{ post.get_field('headline2') }}</h3>{% endif %}
                            {{ post.get_field('content2')|wpautop }}
                        </div>
                    </div>
                    {% endif %}
                    {% if post.get_field('content3') != false %}
                    <div class="row">
                        <div class="col-xs-24 col-sm-18 col-sm-push-3 col-md-14 col-md-push-5 col-lg-14 col-lg-push-5 col-xlg-12 col-xlg-push-6  content-area">
                            <!-- headline / content 3 -->
                            {% if post.get_field('headline3') %}<h3 class="accordion-headline sub">{{ post.get_field('headline3') }}</h3>{% endif %}
                            {{ post.get_field('content3')|wpautop }}
                        </div>
                    </div>
                    {% endif %}
                    {% if post.get_field('content4') != false %}
                    <div class="row">
                        <div class="col-xs-24 col-sm-18 col-sm-push-3 col-md-14 col-md-push-5 col-lg-14 col-lg-push-5 col-xlg-12 col-xlg-push-6  content-area">
                            <!-- headline / content 4 -->
                            {% if post.get_field('headline4') %}<h3 class="accordion-headline sub">{{ post.get_field('headline4') }}</h3>{% endif %}
                            {{ post.get_field('content4')|wpautop }}
                        </div>
                    </div>
                    {% endif %}
                    {% if post.get_field('content5') != false %}
                    <div class="row">
                        <div class="col-xs-24 col-sm-18 col-sm-push-3 col-md-14 col-md-push-5 col-lg-14 col-lg-push-5 col-xlg-12 col-xlg-push-6  content-area">
                            <!-- headline / content 6 -->
                            {% if post.get_field('headline6') %}<h3 class="accordion-headline sub">{{ post.get_field('headline6') }}</h3>{% endif %}
                            {{ post.get_field('content6')|wpautop }}
                        </div>
                    </div>
                    {% endif %}
                    {% if post.get_field('content6') != false %}
                    <div class="row">
                        <div class="col-xs-24 col-sm-18 col-sm-push-3 col-md-14 col-md-push-5 col-lg-14 col-lg-push-5 col-xlg-12 col-xlg-push-6  content-area">
                            <!-- headline / content 6 -->
                            {% if post.get_field('headline6') %}<h3 class="accordion-headline sub">{{ post.get_field('headline6') }}</h3>{% endif %}
                            {{ post.get_field('content6')|wpautop }}
                        </div>
                    </div>
                    {% endif %}
                    {% if(post.get_field('websites')) %}
                    <div class="row">
                        <div class="col-xs-24 col-sm-18 col-sm-push-3 col-md-14 col-md-push-5 col-lg-14 col-lg-push-5 col-xlg-12 col-xlg-push-6  content-area">
                            <!-- websites -->
                            <ul class="project-single-websites-list">
                                {% for item in post.get_field('websites') %}
                                    <li>
                                        {% if item.url %}
                                            <a href="{{ item.url }}">{{ item.name }}</a>
                                        {% else %}
                                            <p>{{ item.name }}</p>
                                        {% endif %}
                                    </li>
                                {% endfor %}
                            </ul>
                        </div>
                    </div>
                    {% endif %}
                </div>
                <div class="row">
                    <footer class="project-footer col-xs-24 col-md-18 col-md-push-3 col-lg-14 col-lg-push-5 content-area">
                        <a class="twitter-tweet-link" href="https://twitter.com/intent/tweet?url={{ post.link | url_encode }}&via={{ options.via }}&hashtags={{ options.hashtags }}">
                            <div class="svg-nav-twitter svg-nav-twitter-dims"></div>
                        </a>
                    </footer>
                </div>
                <div class="row">
                    <div class="project-nav col-xs-24 col-md-18 col-md-push-3 col-lg-14 col-lg-push-5 content-area">
                        {% if prev_project %}
                            <a class="project-link prev boxed-link" href="{{prev_project.link}}">{{ options.prev_project_button }}</a>
                        {% endif %}
                        {% for item in projectnav.get_items %}
                            <a class="boxed-link" href="{{item.get_link}}">{{item.title}}</a>
                        {% endfor %}
                        {% if next_project %}
                            <a class="project-link next boxed-link" href="{{next_project.link}}">{{ options.next_project_button }}</a>
                        {% endif %}
                    </div>
                </div>
            </div>

        </div>
    </article>
{% endblock %}
