{% extends "base-page.twig" %}

{% block content %}
    <section class="section fullwidth section-top-margined">
        <div class="row">
            <div class="centered-page-area">
                <h1>{{ eo_get_venue_name }}</h1>
            {% if venue_description  %}
                <p>{{ venue_description }}</p>
            {% endif %}
            </div>
        </div>
    </section>
{% endblock %}
