.primary-color{
  color: $ptf-primary-color;
}
.secondary-color{
  color: $ptf-secondary-color;
}

.bg-primary-color{
  background-color: $ptf-primary-color;
}
.bg-secondary-color{
  background-color: $ptf-secondary-color;
}