.svg-icon {
  width: auto;
  height: 100%;
  display:flex;
  justify-content: center;
  align-items: center;

  &.arrow-2020-right {
    width: 20px;
    height: 20px;

    svg {
      width: auto;
      height: 100%;
    }

    &.rotate {
      transform: rotate(-45deg);
    }

  }

  &.refresh {
    width: 20px;
    height: 20px;
  }

}


@media only screen and (min-width: 1024px) {
  .svg-icon {
    &.arrow-2020-right {
      width: 20px;
      height: 20px;
    }
    &.refresh {
      width: 17.5px;
      height: 17.5px;
    }
  }
} // end of media query

@media only screen and (min-width: 1400px) {

} // end of media query

@media only screen and (min-width: 1600px) {

} // end of media query

@media only screen and (min-width: 1900px) {

} // end of media query

@media only screen and (min-width: 2200px) {

} // end of media query