/******************************************************************
Site Name:
Author:

Stylesheet: IE Stylesheet

So instead of using the respond.js file to add media query support
to IE, we're going to use SASS to create an easily readable css file.
Here, we import all the styles the standard stylesheet gets, only
without the media queries. No need to worry about editing anything!

******************************************************************/
/******************************************************************
IMPORTS & DEPENDENCIES
Remember, all the BASE styles are called already since IE can
read those. Below, we need to import only the stuff IE can't
understand (what's inside the media queries). We also need to
import the mixins file so SASS can understand the variables.
******************************************************************/
/******************************************************************
Site Name:
Author:

Stylesheet: Variables

Here is where we declare all our variables like colors, fonts,
base values, and defaults. We want to make sure this file ONLY
contains variables that way our files don't get all messy.
No one likes a mess.

******************************************************************/
/*********************
COLORS
Need help w/ choosing your colors? Try this site out:
http://0to255.com/
*********************/
/*
Here's a great tutorial on how to
use color variables properly:
http://sachagreif.com/sass-color-variables/
*/
/******************************************************************
Site Name:
Author:

Stylesheet: Typography

Need to import a font or set of icons for your site? Drop them in
here or just use this to establish your typographical grid. Or not.
Do whatever you want to...GOSH!

Helpful Articles:
http://trentwalton.com/2012/06/19/fluid-type/
http://ia.net/blog/responsive-typography-the-basics/
http://alistapart.com/column/responsive-typography-is-a-physical-discipline

******************************************************************/
/*********************
FONT FACE (IN YOUR FACE)
*********************/
/*  To embed your own fonts, use this syntax
  and place your fonts inside the
  library/fonts folder. For more information
  on embedding fonts, go to:
  http://www.fontsquirrel.com/
  Be sure to remove the comment brackets.
*/
@font-face {
  font-family: 'surt-regular';
  src: url("../fonts/surt/Surt-Regular.eot");
  src: url("../fonts/surt/Surt-Regular.eot?#iefix") format("embedded-opentype"), url("../fonts/surt/Surt-Regular.woff") format("woff"), url("../fonts/surt/Surt-Regular.woff2") format("woff2");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'surt-bold';
  src: url("../fonts/surt/Surt-Bold.eot");
  src: url("../fonts/surt/Surt-Bold.eot?#iefix") format("embedded-opentype"), url("../fonts/surt/Surt-Bold.woff") format("woff"), url("../fonts/surt/Surt-Bold.woff2") format("woff2");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'surt-regular-oblique';
  src: url("../fonts/surt/Surt-RegularOblique.eot");
  src: url("../fonts/surt/Surt-RegularOblique.eot?#iefix") format("embedded-opentype"), url("../fonts/surt/Surt-RegularOblique.woff") format("woff"), url("../fonts/surt/Surt-RegularOblique.woff2") format("woff2");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'surt-light-oblique';
  src: url("../fonts/surt/Surt-LightOblique.eot");
  src: url("../fonts/surt/Surt-LightOblique.eot?#iefix") format("embedded-opentype"), url("../fonts/surt/Surt-LightOblique.woff") format("woff"), url("../fonts/surt/Surt-LightOblique.woff2") format("woff2");
  font-weight: normal;
  font-style: normal; }

/*
The following is based of Typebase:
https://github.com/devinhunt/typebase.css
I've edited it a bit, but it's a nice starting point.
*/
/*
some nice typographical defaults
more here: http://www.newnet-soft.com/blog/csstypography
*/
p {
  -ms-word-wrap: break-word;
  word-break: break-word;
  word-wrap: break-word;
  -webkit-hyphens: auto;
  -ms-hyphens: auto;
      hyphens: auto;
  -webkit-hyphenate-before: 2;
  -webkit-hyphenate-after: 3;
  hyphenate-lines: 3;
  -webkit-font-feature-settings: "liga", "dlig" 0;
  -ms-font-feature-settings: "liga", "dlig" 0;
  -o-font-feature-settings: "liga", "dlig" 0;
  font-feature-settings: "liga", "dlig" 0; }

/**
 * Address style set to `bolder` in Firefox 4+, Safari 5, and Chrome.
 */
b,
strong,
.strong {
  font-family: "surt-bold", sans-serif; }

/**
 * Address styling not present in Safari 5 and Chrome.
 */
dfn,
em,
i,
.em {
  font-style: "surt-regular-oblique", sans-serif; }

/******************************************************************
Site Name:
Author:

Stylesheet: Mixins Stylesheet

This is where you can take advantage of Sass' great features: Mixins.
I won't go in-depth on how they work exactly,
there are a few articles below that will help do that. What I will
tell you is that this will help speed up simple changes like
changing a color or adding CSS3 techniques gradients.

A WORD OF WARNING: It's very easy to overdo it here. Be careful and
remember less is more.

Helpful:
http://sachagreif.com/useful-sass-mixins/
http://thesassway.com/intermediate/leveraging-sass-mixins-for-cleaner-code
http://web-design-weekly.com/blog/2013/05/12/handy-sass-mixins/

******************************************************************/
/*********************
TRANSITION
*********************/
/*
I totally rewrote this to be cleaner and easier to use.
You'll need to be using Sass 3.2+ for these to work.
Thanks to @anthonyshort for the inspiration on these.
USAGE: @include transition(all 0.2s ease-in-out);
*/
/*********************
CSS3 GRADIENTS
Be careful with these since they can
really slow down your CSS. Don't overdo it.
*********************/
/* @include css-gradient(#dfdfdf,#f8f8f8); */
/*********************
BOX SIZING
*********************/
/* @include box-sizing(border-box); */
/* NOTE: value of "padding-box" is only supported in Gecko. So
probably best not to use it. I mean, were you going to anyway? */
/*********************
TRANSITIONS  --->  @include transition(color .125s ease);
*********************/
/******************************************************************
Site Name:
Author:

Stylesheet: IE Grid Styles

Since the example grid is based on media queries, so rather than
setup some js library that would make IE8 and below understand
media queries, let's just add some styles that serves a fixed grid.

Again, if you want to roll your own, just remove this junk and put
whatever you use in here.

******************************************************************/
/******************************************************************
Site Name:
Author:

Stylesheet: Tablet & Small Desktop Stylesheet

Here's where you can start getting into the good stuff.
This size will work on iPads, other tablets, and desktops.
So you can start working with more styles, background images,
and other resources. You'll also notice the grid starts to
come into play. Have fun!

******************************************************************/
/*********************
GENERAL STYLES
*********************/
html.touch .main-nav-wrap {
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center; }

.logo-large-wrapper {
  width: 140px; }

.sidebar {
  font-size: 1em; }

.section.fullheight.fit-to-mobile {
  height: 500px; }

.section-top-margined {
  margin-top: 200px; }

.front-content {
  margin-bottom: 100px; }

.timeline-item {
  width: 25%; }

a.fixed-top-left {
  display: none; }

.centered-page-area, .faqpage-area {
  padding-left: 0;
  margin: 0 0 0 35px;
  padding-right: 80px; }
  .centered-page-area.projects, .faqpage-area.projects {
    margin-left: 45px; }

.frontpage-content.faq {
  padding: 6rem; }

.frontpage-text-wrap {
  padding-left: 65px;
  padding-right: 65px; }

.projects-navi {
  margin-left: 40px; }

.sponsors .sporsor-item {
  display: inline-block; }

.boxed-link-wrapper:last-of-type, .grey-box, .video-content {
  margin-bottom: 100px; }

.accordion-panel p:last-of-type {
  margin-bottom: 60px; }

.content-area.right {
  padding: 60px; }

blockquote {
  margin: 35px; }

.project-single .single-project-content .project-single-websites-list li:before {
  top: 15px; }

/*********************
HEADER STYLES
*********************/
.toggle-menu-wrapper {
  top: 100px; }

.phone .toggle-menu-wrapper-mobile, .tablet .toggle-menu-wrapper-mobile {
  top: 100px; }

.toggle-menu.small-p {
  -webkit-transform: translateY(-30px);
          transform: translateY(-30px); }

.header {
  height: 100px; }
  .header .header-inner-wrapper {
    left: 2.5rem;
    top: 1.75rem; }
  .header .cta-social {
    display: inline-block; }
  .header .logo-large-wrapper .logo {
    font-size: 2.5em; }
  .header .mobile-menu-toggle {
    display: none; }

.site-menu-inner {
  padding-left: 40px; }

.deadline-text {
  left: 40px;
  bottom: 50px; }

#fixed-logo-p {
  left: 2em;
  top: 1.8em; }

.page-2020-wrap {
  padding: 150px 2em 100px 2em; }

.toggle-menu-wrapper {
  top: 145px;
  left: 40px; }

.meta-wrap {
  font-size: 1.2em; }

.canvas-push {
  height: 500px; }

.colorblock {
  height: 500px; }

.couples {
  height: 500px; }

/*********************
PROJECTS PAGE
*********************/
.category-filters-wrapper {
  margin: 15px 0 15px 0; }

.category-filters {
  font-size: 1.2rem; }
  .category-filters ul.category-filters-items li {
    display: inline-block; }
    .category-filters ul.category-filters-items li a {
      padding: 5px; }

/*********************
CONTENT NEWS
*********************/
.tablet .news-tile-wrapper, .tablet .projects-content {
  margin-top: 200px; }

.tablet .tile-wrapper .tile-link:nth-child(even) .tile .news-tile-hover {
  border-left: 0; }

.tablet .tile-wrapper .tile .tile-hover {
  border: 8px #fff solid;
  border-bottom: 0; }

/*********************
NAVIGATION STYLES
*********************/
a.boxed-link {
  font-size: 1.5rem; }
  a.boxed-link.page {
    font-size: 2rem;
    display: inline-block;
    width: auto;
    text-align: left;
    padding: 3px 8px 0 8px; }

.nav {
  /* end .menu ul li */
  /* highlight current page */
  /* end current highlighters */ }
  .nav ul {
    margin-top: 0; }
  .nav li {
    position: relative;
    /*
		plan your menus and drop-downs wisely.
		*/
    /* showing sub-menus */ }
    .nav li a {
      -webkit-transition: color 0.2s ease-out;
      transition: color 0.2s ease-out;
      /*
			you can use hover styles here even though this size
			has the possibility of being a mobile device.
			*/ }
      .nav li a:hover, .nav li a:focus {
        color: #0099cc;
        text-decoration: none; }
    .nav li ul.sub-menu,
    .nav li ul.children {
      margin-top: 0;
      border: 1px solid #ccc;
      border-top: 0;
      position: absolute;
      visibility: hidden;
      z-index: 8999;
      /* highlight sub-menu current page */ }
      .nav li ul.sub-menu li,
      .nav li ul.children li {
        /*
				if you need to go deeper, go nuts
				just remember deeper menus suck
				for usability. k, bai.
				*/ }
        .nav li ul.sub-menu li a,
        .nav li ul.children li a {
          display: block; }
        .nav li ul.sub-menu li:last-child a,
        .nav li ul.children li:last-child a {
          border-bottom: 0; }
        .nav li ul.sub-menu li ul,
        .nav li ul.children li ul {
          top: 0;
          left: 100%; }
    .nav li:hover > ul {
      top: auto;
      visibility: visible; }

/* end .nav */
/*********************
SIDEBARS & ASIDES
*********************/
.sidebar {
  margin-top: 2.2em; }

.widgettitle {
  border-bottom: 2px solid #444;
  margin-bottom: 0.75em; }

.widget {
  padding: 0 10px;
  margin: 2.2em 0; }
  .widget ul li {
    margin-bottom: 0.75em;
    /* deep nesting */ }
    .widget ul li ul {
      margin-top: 0.75em;
      padding-left: 1em; }

/* links widget */
/* meta widget */
/* pages widget */
/* recent-posts widget */
/* archives widget */
/* tag-cloud widget */
/* calendar widget */
/* category widget */
/* recent-comments widget */
/* search widget */
/* text widget */
/*********************
FOOTER STYLES
*********************/
/*
you'll probably need to do quite a bit
of overriding here if you styled them for
mobile. Make sure to double check these!
*/
.footer-links ul li {
  /*
			be careful with the depth of your menus.
			it's very rare to have multi-depth menus in
			the footer.
			*/ }

/* end .footer-links */
/*********************
CONTENT FRONT
*********************/
.faq-content-left {
  margin-bottom: 100px; }

/*********************
JURY
*********************/
.section-jury-content .jury-item {
  margin-bottom: 30px; }

/*********************
SINGLE PROJECT PAGE
*********************/
.project-content-tile .project-single {
  margin-top: 50px; }
  .project-content-tile .project-single .nav-toggle {
    display: block;
    right: 65px; }

/*********************
CONTENT NEWS
*********************/
.tile-link {
  height: 450px;
  display: inline; }
  .tile-link.featured {
    height: auto; }

.project-content-tile {
  height: 900px; }

.tile-wrapper .tile {
  height: 450px; }
  .tile-wrapper .tile .inner-wrapper {
    width: 100%;
    height: 100%;
    display: table;
    padding: 40px; }
  .tile-wrapper .tile .svg-icon {
    position: absolute;
    left: 10px;
    bottom: 0;
    display: none;
    margin: 30px; }
  .tile-wrapper .tile.featured {
    height: auto; }
  .tile-wrapper .tile .inner-wrapper {
    padding: 40px; }
  .tile-wrapper .tile .excerpt {
    display: none; }
  .tile-wrapper .tile .text.size-0-20 {
    font-size: 2.8em;
    line-height: 1em; }
  .tile-wrapper .tile .text.size-20-50 {
    font-size: 2.5em;
    line-height: 1.1em; }
  .tile-wrapper .tile .text.size-50-80 {
    font-size: 2.2em;
    line-height: 1.1em; }
  .tile-wrapper .tile .text.size-80-100 {
    font-size: 2.1em;
    line-height: 1.2em; }
  .tile-wrapper .tile .text.size-100-120 {
    font-size: 2em;
    line-height: 1.2em; }
  .tile-wrapper .tile .text.size-120-140 {
    font-size: 1.85em;
    line-height: 1.2em; }

/*********************
FOOTER
*********************/
[off-canvas*=left] {
  width: 450px; }

.project-single .single-project-content .project-single-textblock {
  margin-top: 50px; }

.project-single .project-video {
  margin-bottom: 50px; }

.news-tile-inner, .news-link {
  margin: 0 6px 12px 6px; }

/*********************
2020
*********************/
.landing-hero .landing-teaser.right {
  padding: 0 2em; }

.page-content {
  margin: 2em 6em; }

.apply-small-wrap {
  margin-top: 1.9rem;
  width: 550px;
  position: absolute; }

/******************************************************************
Site Name:
Author:

Stylesheet: Desktop Stylsheet

This is the desktop size. It's larger than an iPad so it will only
be seen on the Desktop.

******************************************************************/
.logo-margin-page-area {
  margin: 0 0 0 110px; }

.canvas-push {
  height: 100vh; }

.colorblock {
  height: 100vh; }

.couples {
  height: 100vh; }

.section-top-margined {
  margin-top: 250px; }

.section.fullheight.fit-to-mobile {
  min-height: 100vh; }

/*********************
NAVIGATION STYLES
*********************/
.meta-wrap {
  font-size: 1em; }

.cta-social.big {
  font-size: 1.6em;
  margin-bottom: 150px; }

.mc_embed_signup.big {
  font-size: 1.6em; }
  .mc_embed_signup.big a {
    margin-bottom: 15px; }

/*********************
CONTENT SUBPAGE - FAQ, ABOUT
*********************/
.section-about-content, .section-jury-content {
  margin-bottom: 100px; }

/*********************
JURY
*********************/
.section-jury-content .jury-item {
  margin-bottom: 30px; }

/*********************
CONTENT NEWS
*********************/
.news-tile-wrapper, .projects-content {
  margin-bottom: 150px; }

.tile-wrapper .tile .tile-hover.ptf-project.active .tile-hover:hover {
  border: 8px #ff0080 solid; }

.tile-wrapper .tile .tile-hover.ptf-project.open .tile-hover:hover {
  border: 8px #ff0080 solid; }

.tile-wrapper .tile .inner-wrapper {
  padding: 40px; }

.tile-wrapper .tile .svg-icon {
  margin: 20px 0 20px 30px; }

.tile-wrapper .tile .text.size-0-20 {
  font-size: 3em;
  line-height: 1em; }

.tile-wrapper .tile .text.size-20-50 {
  font-size: 2.7em;
  line-height: 1.1em; }

.tile-wrapper .tile .text.size-50-80 {
  font-size: 2.25em;
  line-height: 1.1em; }

.tile-wrapper .tile .text.size-80-100 {
  font-size: 2em;
  line-height: 1.2em; }

.tile-wrapper .tile .text.size-100-120 {
  font-size: 1.3em;
  line-height: 1.2em; }

.tile-wrapper .tile .text.size-120-140 {
  font-size: 1.3em;
  line-height: 1.2em; }

.tile-wrapper .tile:hover .tile-hover {
  border: 8px #f7f7f7 solid; }

.tile-wrapper .tile:hover.ptf-project .tile-hover {
  border: 1px #fff solid; }

.tile-wrapper .tile:hover.ptf-project.active .tile-hover {
  border: 8px #ff0080 solid; }

.tile-wrapper .tile:hover.ptf-project.open .tile-hover {
  border: 8px #ff0080 solid; }

.tile-wrapper .tile:hover.wp-blogpost .tile-hover {
  border-color: #0099cc; }

/*********************
SINGLE BLOGPOST
*********************/
[off-canvas*=left] {
  width: 450px; }

/*********************
FOOTER
*********************/
.footer-text {
  margin-bottom: 80px; }

/*
you can call the larger styles if you want, but there's really no need
*/
/******************************************************************
ADDITIONAL IE FIXES
These fixes are now ONLY seen by IE, so you don't have to worry
about using prefixes, although it's best practice. For more info
on using Modernizr classes, check out this link:
http://www.modernizr.com/docs/
******************************************************************/
.section-jury-content .jury-image:before {
  display: none !important; }

/*# sourceMappingURL=../maps/ie.css.map */
