.svg-arrow-2020-down, .svg-arrow-2020-left, .svg-arrow-2020-right, .svg-arrow-2020-up, .svg-close-x, .svg-logo-p, .svg-nav-arrow, .svg-nav-arrow-big, .svg-nav-arrow-big-back, .svg-nav-arrow-big-back-blue, .svg-nav-arrow-big-blue, .svg-nav-arrow-blue, .svg-nav-arrow-small, .svg-nav-arrow-small-blue, .svg-nav-eye, .svg-nav-reset, .svg-nav-share, .svg-nav-totop, .svg-nav-twitter, .svg-nav-twitter-big, .svg-news-retweet, .svg-news-topost, .svg-news-topost-new, .svg-status-ok {
  background: url("svg/sprite.css-335350d1.svg") no-repeat; }

.svg-arrow-2020-down {
  background-position: 0 0; }

.svg-arrow-2020-down-dims {
  width: 24.2px;
  height: 27.2px; }

.svg-arrow-2020-left {
  background-position: 4.1750167000668% 5.8601925491837585%; }

.svg-arrow-2020-left-dims {
  width: 26.2px;
  height: 24.2px; }

.svg-arrow-2020-right {
  background-position: 8.684034736138946% 11.092507325240685%; }

.svg-arrow-2020-right-dims {
  width: 26.2px;
  height: 24.2px; }

.svg-arrow-2020-up {
  background-position: 13.149134487350201% 16.427969671440607%; }

.svg-arrow-2020-up-dims {
  width: 24.2px;
  height: 27.2px; }

.svg-close-x {
  background-position: 17.27574750830565% 22.129436325678498%; }

.svg-close-x-dims {
  width: 23px;
  height: 23px; }

.svg-logo-p {
  background-position: 21.598639455782312% 28.3205268935236%; }

.svg-logo-p-dims {
  width: 37px;
  height: 46.5px; }

.svg-nav-arrow {
  background-position: 27.080581241743726% 35.84521384928717%; }

.svg-nav-arrow-dims {
  width: 19.4px;
  height: 11px; }

.svg-nav-arrow-big {
  background-position: 31.28719605509267% 38.88542316489915%; }

.svg-nav-arrow-big-dims {
  width: 36.9px;
  height: 21.1px; }

.svg-nav-arrow-big-back {
  background-position: 37.578643087910216% 43.46017883135787%; }

.svg-nav-arrow-big-back-dims {
  width: 36.9px;
  height: 21.1px; }

.svg-nav-arrow-big-back-blue {
  background-position: 43.87009012072777% 48.03493449781659%; }

.svg-nav-arrow-big-back-blue-dims {
  width: 36.9px;
  height: 21.1px; }

.svg-nav-arrow-big-blue {
  background-position: 50.16153715354531% 52.60969016427532%; }

.svg-nav-arrow-big-blue-dims {
  width: 36.9px;
  height: 21.1px; }

.svg-nav-arrow-blue {
  background-position: 54.82166446499339% 56.0081466395112%; }

.svg-nav-arrow-blue-dims {
  width: 19.4px;
  height: 11px; }

.svg-nav-arrow-small {
  background-position: 57.601047291768936% 57.88301963165351%; }

.svg-nav-arrow-small-dims {
  width: 13.9px;
  height: 7.9px; }

.svg-nav-arrow-small-blue {
  background-position: 59.891998036327934% 59.50212507589556%; }

.svg-nav-arrow-small-blue-dims {
  width: 13.9px;
  height: 7.9px; }

.svg-nav-eye {
  background-position: 64.41769791490083% 62.916666666666664%; }

.svg-nav-eye-dims {
  width: 35.1px;
  height: 22px; }

.svg-nav-reset {
  background-position: 69.2179700499168% 67.64091858037578%; }

.svg-nav-reset-dims {
  width: 24px;
  height: 23px; }

.svg-nav-share {
  background-position: 73.21131447587355% 72.44258872651356%; }

.svg-nav-share-dims {
  width: 24px;
  height: 23px; }

.svg-nav-totop {
  background-position: 77.11484128303141% 79.39914163090128%; }

.svg-nav-totop-dims {
  width: 23.3px;
  height: 36px; }

.svg-nav-twitter {
  background-position: 81.27914723517655% 84.23236514522821%; }

.svg-nav-twitter-dims {
  width: 24.6px;
  height: 20px; }

.svg-nav-twitter-big {
  background-position: 85.92964824120602% 88.75%; }

.svg-nav-twitter-big-dims {
  width: 28px;
  height: 22px; }

.svg-news-retweet {
  background-position: 89.53988745448527% 91.39126886984904%; }

.svg-news-retweet-dims {
  width: 20.8px;
  height: 11.8px; }

.svg-news-topost {
  background-position: 92.8005284015852% 93.68635437881873%; }

.svg-news-topost-dims {
  width: 19.4px;
  height: 11px; }

.svg-news-topost-new {
  background-position: 96.10303830911492% 95.94622122631901%; }

.svg-news-topost-new-dims {
  width: 19.4px;
  height: 11.1px; }

.svg-status-ok {
  background-position: 99.96678844237795% 99.83464241422075%; }

.svg-status-ok-dims {
  width: 22.8px;
  height: 18.2px; }

/*# sourceMappingURL=../maps/sprite.css.map */
