.charts-wrap{

  margin: 3em;

  .chart-wrap{
    margin-bottom: 50px;
  }

  .chart-container{
    position: relative;
    pointer-events: none;
    height: 200px;


    .chart-bg{
      position: absolute;
      width: 100%;
      height: 100%;
      top:0;
      left:0;
      z-index: -1;
    }

    .chart-text{
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%,-50%) scale(1);
      line-height: 1;
      padding-top: 10px;
      text-align:center;

      &.t1, &.t2, &.t3{

        @include transition(all .25s ease);

        &.gone{
          opacity: 0;
          transform: translate(-50%,-50%) scale(0);
        }

        opacity: 1;

      }

      &.t1{
        color: $ptf-primary-color;
      }

      &.t1, &.t3{
        font-size: 2em;
      }
      &.t2{
        font-size: 4em;
        color: $ptf-secondary-color;
      }
      &.t3{
        color:$ptf-third-color;
      }

    }

    canvas{
      height: 100%;
      width: 100% !important;
    }
  }
  .chart-subline{
    text-align: center;
  }
}

/*********************
IPHONE 6
*********************/

@media only screen and (min-width: 375px) {

  .charts-wrap {
    .chart-container {
    }
  }

} // end of media query

/*********************
LARGER MOBILE DEVICES
This is for devices like the Galaxy Note or something that's
larger than an iPhone but smaller than a tablet. Let's call them
tweeners.
*********************/
@media only screen and (min-width: 481px) {

  .charts-wrap {
    .chart-container {
      height: 420px;
    }
  }

} // end of media query

@media only screen and (min-width: 500px) {



} // end of media query

/*********************
TABLET & SMALLER LAPTOPS
This is the average viewing window. So Desktops, Laptops, and
in general anyone not viewing on a mobile device. Here's where
you can add resource intensive styles.
*********************/
@media only screen and (min-width: 768px) {


  .charts-wrap {

    margin: 2em;

    .chart-container {
      height: 250px;
      .chart-text{
        &.t1, &.t3{
          font-size: 1.5em;
        }
        &.t2{
          font-size: 3em;
        }
      }
    }
  }


} // end of media query

/*********************
IPAD MINI
*********************/
@media only screen and (min-width: 1024px) {

  .charts-wrap {

    margin: 60px;

    .chart-wrap{
      margin-top: 50px;
      margin-bottom: 50px;
    }

    .chart-container {
      height: 250px;

      .chart-text{
        &.t1, &.t3{
          font-size: 1.5em;
        }
        &.t2{
          font-size: 3em;
        }
      }
    }
  }


} // end of media query


/*********************
DESKTOP
This is the average viewing window. So Desktops, Laptops, and
in general anyone not viewing on a mobile device. Here's where
you can add resource intensive styles.
*********************/
@media only screen and (min-width: 1030px) {

  // styles in 1030up.scss

} // end of media query

/*********************
LARGE VIEWING SIZE
This is for the larger monitors and possibly full screen viewers.
*********************/
@media only screen and (min-width: 1180px) {

  .charts-wrap {

    .chart-container {
      height: 300px;
      .chart-text{
        &.t1, &.t3{
          font-size: 1.75em;
        }
        &.t2{
          font-size: 3.5em;
        }
      }
    }
  }


} // end of media query

/*********************
This is for the larger monitors and possibly full screen viewers.
*********************/
@media only screen and (min-width: 1300px) {



} // end of media query

/*********************
LARGE VIEWING SIZE
This is for the larger monitors and possibly full screen viewers.
*********************/
@media only screen and (min-width: 1400px) {

  .charts-wrap {

    margin: 100px 120px 60px 120px;

    .chart-container {
      height: 320px;
      .chart-text{
        &.t1, &.t3{
          font-size: 2em;
        }
        &.t2{
          font-size: 4em;
        }
      }
    }
  }


} // end of media query

/*********************
LARGE VIEWING SIZE
This is for the larger monitors and possibly full screen viewers.
*********************/
@media only screen and (min-width: 1600px) {

  // styles in 1600up.scss


} // end of media query

/*********************
LARGE VIEWING SIZE
This is for the larger monitors and possibly full screen viewers.
*********************/
@media only screen and (min-width: 1900px) {

  .charts-wrap {

    .chart-container {
      height: 400px;
      .chart-text{
        &.t1, &.t3{
          font-size: 2em;
        }
        &.t2{
          font-size: 4em;
        }
      }
    }
  }


} // end of media query

/*********************
RETINA (2x RESOLUTION DEVICES)
This applies to the retina iPhone (4s) and iPad (2,3) along with
other displays with a 2x resolution. You can also create a media
query for retina AND a certain size if you want. Go Nuts.
*********************/
@media only screen and (-webkit-min-device-pixel-ratio: 1.5),
only screen and (min--moz-device-pixel-ratio: 1.5),
only screen and (min-device-pixel-ratio: 1.5) {

  // styles in 2x.scss


} // end of media query

/*********************
PRINT STYLESHEET
Feel free to customize this. Remember to add things that won't make
sense to print at the bottom. Things like nav, ads, and forms should
be set to display none.
*********************/
@media print {

  // styles in print.scss


}
