#custom-scrollbar-wrapper.initialized {
  position: relative;
  width: 100%;
  height: 100%;
  margin-bottom: 1.5rem;
}

#custom-scrollbar-container.initialized {
  width: 100%;
  height: 100%;
  overflow: auto;
  position: relative;
  padding-left: 0;
  padding-right: 0;

  -ms-overflow-style: none; /* for Internet Explorer, Edge */
  scrollbar-width: none; /* for Firefox */
  overflow-y: scroll;

}
#custom-scrollbar-container.initialized::-webkit-scrollbar {
  display: none; /* for Chrome, Safari, and Opera */
}

.ssb_down {
  background-color: transparent;
  bottom:0;
  cursor:pointer;
  position:absolute;
  right:0;
}

.ssb_sb {
  background-color: $ptf-primary-color;
  cursor:pointer;
  position:absolute;
  right:0;
}

.ssb_sb_down {
  background-color: transparent;
}

.ssb_sb_over {
  background-color: $ptf-primary-color;
}

.ssb_st {
  background-color: transparent;
  cursor:pointer;
  height:100%;
  position:absolute;
  right:0;
  top:0;
}

.ssb_up {
  background-color: transparent;
  cursor:pointer;
  position:absolute;
  right:0;
  top:0;
  /*display: none;*/
}

.parent {
  height:100%;
  padding:10px;
  position:relative;
}

.custom-scrollbar-wrapper-gradient {
  width: calc(100% - 12px);
  height: 3rem;
  position: absolute;
  z-index: 2;
  left: 6px;
  pointer-events: none;
  display: none;

  &.bottom {
    bottom: 0;

    /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#ffffff+0,ffffff+100&0+0,1+81 */
    background: -moz-linear-gradient(top,  rgba(255,255,255,0) 0%, rgba(255,255,255,1) 81%, rgba(255,255,255,1) 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top,  rgba(255,255,255,0) 0%,rgba(255,255,255,1) 81%,rgba(255,255,255,1) 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom,  rgba(255,255,255,0) 0%,rgba(255,255,255,1) 81%,rgba(255,255,255,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00ffffff', endColorstr='#ffffff',GradientType=0 ); /* IE6-9 */


  }

}

@media only screen and (min-width: 768px) {

} // end of media query

@media only screen and (min-width: 1024px) {
  #custom-scrollbar-wrapper.initialized {
    margin-bottom: 0;
  }
  .custom-scrollbar-wrapper-gradient {
    display: flex;
  }
  #custom-scrollbar-container.initialized {
    padding-right: 30px;
  }
} // end of media query

@media only screen and (min-width: 1400px) {
  #custom-scrollbar-container.initialized {
    padding-right: 40px;
  }
} // end of media query

@media only screen and (min-width: 1680px) {
  #custom-scrollbar-container.initialized {
    padding-right: 50px;
  }
} // end of media query

@media only screen and (min-width: 1920px) {
  #custom-scrollbar-container.initialized {
    padding-right: 60px;
  }
} // end of media query

