{#
/**
 * Block Name: Rainbow Unicorn custom block
 *
 * This is a template that displays a Gutenberg custom block
 */
#}
{% set is_first_block = function('ru_is_first_block', current_post_id, block.id) %}
{% if is_preview %}
<div class="block-info">
    <div class="block-info-header">
        <div>
            <span>{{ block.title }}</span>
            <span class="block-description text-mini">({{ slug }})</span>
        </div>
        <div>
            {% if block.description %}<span class="block-description text-mini">{{ block.description }}</span>{% endif %}
        </div>
        <div class="block-anchor text-mini">
            {% if fields.anchor_id %}#{{ fields.anchor_id }}{% endif %}
        </div>
    </div>
{% endif %}
    <section {% if fields.section_id %}data-section-id="{{ fields.section_id }}"{% endif %} class="wp-custom-block {% if is_preview %}disabled{% endif %} {% if fields.classname %} {{ fields.classname }}{% endif %}{% if fields.anchor_id %} js-observed step{% endif %}" {% if fields.anchor_id %}id="{{ fields.anchor_id }}" data-step="{{ fields.anchor_id }}"{% endif %} data-element="{{ slug }}" data-id="block-custom-{{ block.id }}">
        <div data-element="{{ slug }}" class="gs-animated">
            {% if fields.intro_text %}
                <div class="row margin-b">
                    <div class="col-xs-24">
                        {{ fields.intro_text }}
                    </div>
                </div>
            {% endif %}
            {% if fields.iframe_embed %}
                <div class="row margin-y">
                    <div class="col-xs-24">
                        <figure class="wp-block-embed full-width desktop">
                            {{ fields.iframe_embed }}
                        </figure>
                    </div>
                </div>
            {% endif %}
        </div>
    </section>
{% if is_preview %}
</div>
{% endif %}