{#
/**
 * Block Name: Rainbow Unicorn custom block
 *
 * This is a template that displays a Gutenberg custom block
 */
#}
{% set is_first_block = function('ru_is_first_block', current_post_id, block.id) %}
{% if is_preview %}
<div class="block-info">
    <div class="block-info-header">
        <div>
            <span>{{ block.title }}</span>
            <span class="block-description text-mini">({{ slug }})</span>
        </div>
        <div>
            {% if block.description %}<span class="block-description text-mini">{{ block.description }}</span>{% endif %}
        </div>
        <div class="block-anchor text-mini">
            {% if fields.anchor_id %}#{{ fields.anchor_id }}{% endif %}
        </div>
    </div>
{% endif %}
    <section {% if fields.section_id %}data-section-id="{{ fields.section_id }}"{% endif %} class="wp-custom-block {% if is_preview %}disabled{% endif %} {% if fields.classname %} {{ fields.classname }}{% endif %}{% if fields.anchor_id %} js-observed step{% endif %}" {% if fields.anchor_id %}id="{{ fields.anchor_id }}" data-step="{{ fields.anchor_id }}"{% endif %} data-element="{{ slug }}" data-id="block-custom-{{ block.id }}">
        <div data-element="{{ slug }}" class="gs-animated">
            {% if fields.intro_text %}
                <div class="row margin-b">
                    <div class="col-xs-24">
                        {{ fields.intro_text }}
                    </div>
                </div>
            {% endif %}
            {% if fields.timeline_image_desktop or fields.timeline_image_mobile %}
                <div class="row margin-y">
                    <div class="col-xs-24">
                        {% if fields.timeline_image_desktop %}
                            <figure class="wp-block-image full-width desktop">
                                {% set image = Image(fields.timeline_image_desktop) %}
                                <img src="{{ image.src }}" alt="{% if fields.image_description %}{{ fields.image_description }}{% else %}{% if image.alt %}{{ image.alt }}{% else %}{{ image.title }}{% endif %}{% endif %}">
                            </figure>
                        {% endif %}
                        {% if fields.timeline_image_mobile %}
                            <figure class="wp-block-image half-width mobile">
                                {% set image = Image(fields.timeline_image_mobile) %}
                                <img src="{{ image.src }}" alt="{% if fields.image_description %}{{ fields.image_description }}{% else %}{% if image.alt %}{{ image.alt }}{% else %}{{ image.title }}{% endif %}{% endif %}">
                            </figure>
                        {% endif %}
                    </div>
                </div>
            {% endif %}
            {% if fields.text %}
                <div class="row margin-b">
                    <div class="col-xs-24">
                        <div class="margin-b">
                            {{ fields.text }}
                        </div>
                    </div>
                </div>
            {% endif %}
        </div>
    </section>
{% if is_preview %}
</div>
{% endif %}