/******************************************************************
Site Name:
Author:

******************************************************************/

html.no-touch {
  .header{
    height: auto;
    position: absolute;
  }
  #fixed-logo-p {
    top: 1.5em;
    left: 1.5em;
  }
}

/*********************
DESKTOP NAV
*********************/



.section{
  &.fullheight.fit-to-mobile{
    height:100vh;
  }
}

.filter-tab {
  &.blog {
    padding-right: 12px;
  }
}

.wp-block-image{
  margin: 75px 0;
}


.full-width{
  img{
    width: 80vw;
    position: relative;
    left: 50%;
    right: 50%;
    margin-left: -40vw;
    margin-right: -40vw;
    max-width: none;
  }
}

.half-width{
  img{
    width: 50vw;
    position: relative;
    left: 50%;
    right: 50%;
    margin-left: -25vw;
    margin-right: -25vw;
    max-width: none;
  }
}

.video-section{
  padding: 0 0 100px 0;
}

.page-teaser {
  &:last-of-type {
    margin-bottom: 100px;
  }
  .teaser-text{
    padding-right: 3rem;
  }
}
.projects-intro-right {
  padding-right: 3rem;
}

.projects-pagination, .search-pagination {
  .projects-pagination-btn {
    padding: 10px;
    width: 45px;
    height: 45px;
  }
}


.logo-margin-wrap{
  width: 94%;
  left: 6%;
  float:right;
}

.canvas-push{
  height: 650px;
}

.colorblock {
  height: 650px;
}

.couples {
  height: 650px;
}

.sidebar{
  font-size: 0.8em;
}

.article {
  font-size: 1rem;
}
.centered-page-area, .faqpage-area{
  padding-left: 120px;
  padding-right: 0px;
  margin: 0;
}
.frontpage-text-wrap{
  padding-left:70px;
  padding-right: 0;
  margin-top: 100px;
}
.projects-navi{
  margin-left: 35px;
}

.projects-overview-description{
  margin-bottom: 100px;
}

.accordion-headline.sub:before {
  top: 8px;
}

.blogpost-left{
  padding-right: 50px;
  .entry-content{
    blockquote{
      margin: 2rem 0;
      padding: 4rem 2rem;
    }
  }
}

.logo-large-wrapper{
  width: 140px;
}

.project-nav{
  a{
    display: inline-block;
    width: auto;
    margin-bottom: 0px;
    text-align: center;
    margin-right: 20px;
    &:last-of-type{
      margin-right: 0;
    }
  }
}

.menu-item.no-children{
  margin-bottom: 0em;
}

.page-2020-wrap{
  padding-top: 25vh;
  padding-bottom: 200px;
}

.news-teaser-text{
  font-size: 1.25em;
}

.generic-page-container{
  padding: 0 3em;
  max-width: 1400px;
  margin: 0 auto;
}

.frontpage-info{
  display: flex !important;
  align-items: center !important;
  height: 100vh !important;
  min-height: 100vh !important;
}

.frontpage-content{



  padding: 15%;

  &.faq{
    padding: 0 12% 0 12%;
  }
}

.projects-intro {
  display: flex;
  .projects-intro-left{
    .projects-intro-headline{
      padding-bottom: 0;
    }
  }
}

.project-list-item{

  &.member {

    .project-list-item-inner {
      .project-list-item-inner-right {
        margin-bottom: 0;
      }
    }
  }

  .project-list-item-members{
    margin-bottom: 0;
    .project-list-item-member{
      display: inline;
      margin-bottom: 0;
    }
    .project-list-item-member-spacer{
      display: inline;
    }
  }

  .project-teaser-footer{
    display: flex;
    .project-list-item-categories{
      display: flex;
      flex: 1;
      align-items: center;
    }
  }
}

.project-list-item-link{
  flex: 1;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

/*********************
CONTENT NEWS
*********************/

.tile-wrapper{
  .tile{

    &.ptf-project{
      .front {
        .inner-wrapper {
        }
      }

      .project-image{
        display: block;
      }

      .title{
        width: 100%;
        padding-right: 40px !important;
      }

      .text{
        font-size: 1em;
      }


    }

    .excerpt{
      display: block;
    }

    .text {
      &.size-0-20 {
        font-size: 3em;
        line-height: 1em;
      }

      &.size-20-50 {
        font-size: 2.5em;
        line-height: 1.1em;
      }

      &.size-50-80 {
        font-size: 2.2em;
        line-height: 1.1em;
      }

      &.size-80-100 {
        font-size: 2.1em;
        line-height: 1.2em;
      }

      &.size-100-120 {
        font-size: 1.8em;
        line-height: 1.2em;
      }

      &.size-120-140 {
        font-size: 1.7em;
        line-height: 1.2em;
      }
    }

    .inner-wrapper{
      padding: 40px;
    }
  }
}

.project-single{

  .project-status-headline{
    display: inline-block;
  }

  .project-list-item-categories{
    text-align: right;
    transform: translateX(4px);
  }

  .project-info-fixed{
    max-width: 600px;
    position: fixed;
    @include transition(transform .1s ease);

  }

  .single-post-category-link{
    flex-grow: 1;
  }
  .single-project-content{
    h2{
      margin: 4em 0 1em 0;
    }
    .project-single-textblock {
      margin-top: 100px;
    }
  }

  .project-nav {
    display: flex;
    justify-content: space-between;
  }

  .project-status-item{
    &.first{
      margin-left: 15px;;
    }
  }

}

.alimni-list-item{
  padding: 60px 0;
}
.hairline{
  border-top: 1px solid black;
}

/*********************
CONTENT FRONT
*********************/

.content-area{

  p{

  }

  &.right{
    font-size: 0.7em;
    line-height: 1.7em;
    padding: 50px;

    p:last-of-type {

    }

  }

  .boxed-link-wrapper{
  }
  .boxed-link-wrapper:last-of-type{
  }

}

blockquote{
  margin: 60px;
}

/*********************
NEWS TILE 2018
*********************/
.news-tile {
  .news-tile-inner, .news-link{
    margin: 6px 12px 6px 0;
  }
}

/*********************
2020
*********************/
.landing-hero{

  height: 100vh;
  display: flex;

  .landing-teaser{

    &.right{
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      padding: 0;
    }
  }
}
.header-content{
  padding-top: 0;
  padding-bottom: 0;
  width: 80%;
  margin-bottom: auto;
  flex-grow: 1;
  justify-content: center;
  display: flex;
  align-items: center;

  .header-headline{

  }

  .header-content-inner{
    padding-top: 6em;
    width: 80%;
  }
}
.header-ctas{
  padding: 0 2em 3em 2em;
  position: relative;
  bottom: 0;
}

.page-content{
  margin: 100px auto;
}

.footer-2020 {
  margin: 3em;
  display: flex;
  .footer-text-2020 {
    margin-top: 50px;
  }

  .legal-wrap{
    flex-grow: 1;
    nav{
      margin-top: 0;
      position: absolute;
      bottom: 0;
    }
  }

}

.main-nav-wrap{

  padding: 250px 20px 20px 20px;
  transform: translate(-50%,0);
  @include transition(transform 0s ease-out);

  &.gone{
    transform: translate(-50%, -100%);
  }
}

.search-wrap {
  input#search {
    font-size: 2em;
    padding: 0 0 1.5rem 0;
  }
}

.apply-small-wrap{
  margin-top: 2rem;
  width: 80%;
  position: absolute;
  left: 100px;
  transform: translateX(0);
  max-width: 550px;
}

.header-ctas{
  &.apply-phase{
    padding: 2rem;
  }
}



