/******************************************************************
Site Name: 
Author: 

Stylesheet: Super Large Monitor Stylesheet

You can add some advanced styles here if you like. This kicks in
on larger screens.

******************************************************************/

.logo-margin-page-area{
  margin: 0 0 0 110px;
}
.frontpage-text-wrap{
  padding-left:110px;
}

.sidebar{
  font-size: 1em;
}

.main-nav-wrap {
  .main-nav {
    .menu-item {
      margin-right: 2em;
    }
  }
}

/*********************
CONTENT NEWS
*********************/

.tile-wrapper {
  .tile {
    &.ptf-project{
      .text {
        font-size: 1em;
      }
    }
    &.ptf-project.featured{
      .text {
        font-size: 1.5em;
      }
    }
  }

}

.category-description-wrap{
  margin-bottom: 50px;
}

.content-area{
  &.right{
    font-size: 1rem;
  }
}




