/******************************************************************
Site Name: 
Author: 

Stylesheet: Super Large Monitor Stylesheet

You can add some advanced styles here if you like. This kicks in
on larger screens.

******************************************************************/

.nav-toggle{
  display: none;
}

.main-nav-outer {
  &:before {
    display: none;
  }
}
.sub-nav-mobile {
  display: none;
}
.main-nav-wrap{
  width: auto;
  height: auto;
  position: relative;
  background-color: transparent;

  transform: translate(0, 0);
  @include transition(transform 0s ease-out);
  padding: $header-top $content-padding-r-1280 0 $content-padding-l-1280;

  nav {
    flex-direction: row;
  }

  .main-nav{
    float:left;
    .menu-item{
      float: left;
      font-size: 1rem;
      margin-right: 1.2em;

      position: relative;
      display: inline-block;
      width: auto;

      a{
        &:hover, &:active{
          background-color: transparent;
        }
      }
    }
  }

  .main-nav, .nav-language {
    display: flex;
  }

  .nav-language{
    float: right;
    width: auto;
  }

  &.gone{
    transform: translateX(0%);
  }
}

.nav-language {
  font-size: 1rem;
}

.sub-nav {
  display: block;
  ul.nav-dropdown {
    &.visible {
      visibility: visible;
      position: relative;
    }
  }
}

.landing-teaser.right {
  padding: 0px $content-padding-r-1280 0 $content-padding-l-1280;
}

.frontpage-content {
  padding: $content-padding-l-1280 $content-padding-r-1280*2 $content-padding-l-1280 $content-padding-l-1280;
}

.header-ctas-outer {
  padding: $content-padding-l-1280;

}

.projects-intro-right {
  padding-left: $content-padding-l-1280;
}

.page-teaser .teaser-text{
    padding-left: $content-padding-l-1280;
}

h1, .h1 {
  font-size: 2.75rem;
}

h2, .h2 {
  font-size: 2.25rem;
}

h3, .h3 {
  font-size: 1.8rem;
}

h4, .h4 {
  font-size: 1.4rem;
}

h5, .h5 {
  font-size: 1.25rem;
}

h6, .h6 {
  font-size: 1rem;
}

.header {
  &:before {
    /*display: none;*/
  }
}

.project-list-item-copy {

  &.claim {
    p{
      font-size: 1.6em;
    }
  }
}
.centered-page-area, .faqpage-area{
  max-width: none;
  margin: 0;
  padding-left: 162px;
}
.logo-margin-page-area{
  margin: 0;
  padding-left: 162px;
}
.frontpage-text-wrap{
  padding-left:110px;
}

.article {
  font-size: 1.1rem;
}

.project-single{
  .project-single-content{
    h2{
      font-size: 1.6em;
    }
  }
}

/*********************
SINGLE PROJECT PAGE
*********************/

.project-content-tile {

  .project-single {

    margin-top: 150px;
  }
}

/*********************
PROJECTS PAGE
*********************/

.category-filters {
  left: 350px;
}

/*********************
CONTENT NEWS
*********************/

.tile-wrapper{
  .tile{

    .text {
      &.size-0-20 {
        font-size: 3em;
        line-height: 1em;
      }

      &.size-20-50 {
        font-size: 2.3em;
        line-height: 1.1em;
      }

      &.size-50-80 {
        font-size: 2.1em;
        line-height: 1.1em;
      }

      &.size-80-100 {
        font-size: 1.8em;
        line-height: 1.2em;
      }

      &.size-100-120 {
        font-size: 1.7em;
        line-height: 1.2em;
      }

      &.size-120-140 {
        font-size: 1.6em;
        line-height: 1.2em;
      }
    }

  }
}

.search-wrap{
  input#search{
    font-size: 1.6em;
  }
}

.arrow-link {
  .arrow-right {
    top: 0;
  }
}

.social-2020{
  a{
    i{
      font-size: 1.6rem;
    }
  }
}
.podigee-icon {
  width: 22px;
  height: 22px;
}

.footer-2020 {
  margin: $content-padding-l-1280*2;
}

