/******************************************************************
Site Name: 
Author: 

Stylesheet: Super Large Monitor Stylesheet

You can add some advanced styles here if you like. This kicks in
on larger screens.

******************************************************************/

.nav-toggle{
  display: none;
}

.header {
  background-color: transparent;
}

html {
  &.touch {
    .main-nav-wrap{
      padding-top: 1.75em;
      justify-content: space-between;
    }
  }
}

.main-nav-wrap{
  width: auto;
  height: auto;
  position: relative;
  background-color: transparent;
  flex-direction: row !important;

  transform: translate(0, 0);
  @include transition(transform 0s ease-out);

  padding: 1.75em 2em 0 2em;

  .main-nav{
    float:left;
    .menu-item{
      float: left;
      margin-right: 1.25em;

      position: relative;
      display: inline-block;
      width: auto;
      font-size: 1.25rem;

      a{
        &:hover, &:focus{
          background-color: transparent;
        }
      }
    }
  }

  .nav-language{
    float: right;
    font-size: 1.25rem;
    width: auto;
  }

  &.gone{
    transform: translateX(0%);
  }
}

.sub-nav {
  display: block;
  ul.nav-dropdown {
    &.visible {
      visibility: visible;
      position: relative;
    }
  }
}


h1, .h1 {
  font-size: 3em;
}

h2, .h2 {
  font-size: 2.5em;
}

h3, .h3 {
  font-size: 1.6em;
}

h4, .h4 {
  font-size: 1.4em;
}

h5, .h5 {
  font-size: 1.25em;
}

h6, .h6 {
  font-size: 1em;
}

.project-list-item-copy.claim{
  p{
    font-size: 1.6em;
  }
}

.nav li a, .nav-language, p, .page-2020-wrap ul li {
  font-size: 1.1rem;
}

#fixed-logo-p{
  position: fixed;

}

.centered-page-area, .faqpage-area{
  max-width: none;
  margin: 0;
  padding-left: 162px;
}
.logo-margin-page-area{
  margin: 0;
  padding-left: 162px;
}
.frontpage-text-wrap{
  padding-left:110px;
}

.article {
  font-size: 1.1rem;
}

.project-single{
  .project-single-content{
    h2{
      font-size: 1.6em;
    }
  }
}



/*********************
SINGLE PROJECT PAGE
*********************/

.project-content-tile {

  .project-single {

    margin-top: 150px;
  }
}

/*********************
PROJECTS PAGE
*********************/

.category-filters {
  left: 350px;
}

/*********************
CONTENT NEWS
*********************/

.tile-wrapper{
  .tile{

    .text {
      &.size-0-20 {
        font-size: 3em;
        line-height: 1em;
      }

      &.size-20-50 {
        font-size: 2.3em;
        line-height: 1.1em;
      }

      &.size-50-80 {
        font-size: 2.1em;
        line-height: 1.1em;
      }

      &.size-80-100 {
        font-size: 1.8em;
        line-height: 1.2em;
      }

      &.size-100-120 {
        font-size: 1.7em;
        line-height: 1.2em;
      }

      &.size-120-140 {
        font-size: 1.6em;
        line-height: 1.2em;
      }
    }

  }
}

.search-wrap{
  input#search{
    font-size: 1.6em;
  }
}

.arrow-link {
  .arrow-right {
    top: 0;
  }
}

