/******************************************************************
Site Name: 
Author: 

Stylesheet: Super Large Monitor Stylesheet

You can add some advanced styles here if you like. This kicks in
on larger screens.

******************************************************************/

.main-nav-wrap{
  .main-nav {
    .menu-item {
      margin-right: 1.6em;
    }
  }
}

h1, .h1 {
  font-size: 3rem;
}

h2, .h2 {
  font-size: 2.5rem;
}

h3, .h3 {
  font-size: 2rem;
}

h4, .h4 {
  font-size: 1.7rem;
}

h5, .h5 {
  font-size: 1.5rem;
}

h6, .h6 {
  font-size: 1rem;
}

.page-2020-wrap{
  max-width: 1400px;
}

.centered-page-area, {
  margin: 0px;
  padding-left: 250px;
  &.single-project-content{
    margin: 100px auto;
    padding: 0 162px;
  }
}

.logo-margin-page-area{
  padding-left: 250px;
}

.nav li a, .nav span, p, .page-2020-wrap ul li {
  font-size: 1.25rem;
}
.article {
  font-size: 1.25rem;
}



.content-area {
  &.frontpage-info-box-right {
  }
}

.header-content{
  width: 60%;
  .header-headline{
    font-size: 3.25em;
  }
}

p {
  font-size: 1.25rem;
}

.logo-large-wrapper{
  width: 170px;
}

/*********************
SINGLE PROJECT PAGE
*********************/

.project-content-tile {

  .project-single {

    .nav-toggle{
      right: 130px
    }

  }
}

/*********************
CONTENT NEWS
*********************/

.timeline-item{
  width:20%;
}

.tile-wrapper{
  .tile{

    .text {
      &.size-0-20 {
        font-size: 3.2em;
        line-height: 1em;
      }

      &.size-20-50 {
        font-size: 3em;
        line-height: 1.1em;
      }

      &.size-50-80 {
        font-size: 2.6em;
        line-height: 1.1em;
      }

      &.size-80-100 {
        font-size: 2.1em;
        line-height: 1.2em;
      }

      &.size-100-120 {
        font-size: 2em;
        line-height: 1.2em;
      }

      &.size-120-140 {
        font-size: 1.8em;
        line-height: 1.2em;
      }
    }

  }
}

.search-wrap{
  input#search{
    font-size: 2rem;
  }
}

.arrow-link {
  .arrow-right {
    top: 3px;
  }
}

.landing-teaser.right {
  padding: 0px $content-padding-r-1680 0 $content-padding-l-1680;
}

.frontpage-content {
  padding: $content-padding-l-1680 $content-padding-r-1680*2 $content-padding-l-1680 $content-padding-l-1680;
}

.header-ctas-outer {
  padding: $content-padding-l-1680;

}


.main-nav-wrap {
  padding-left: $content-padding-l-1680;
  padding-right: $content-padding-r-1680;
}

.projects-intro-right, .page-teaser .teaser-text {
  padding-left: $content-padding-l-1680;
}

.margin-b {
  margin-bottom: $section-y-margin-1680 !important;
}

.margin-t{
  margin-top: $section-y-margin-1680 !important;
}

.margin-y {
  margin-top: $section-y-margin-1680 !important;
}

.margin-b-half {
  margin-bottom: $section-y-margin-1680/2 !important;
}


.margin-t-half{
  margin-top: $section-y-margin-1680/3 !important;
}

.margin-y-half {
  margin-top: $section-y-margin-1680/3 !important;
}

.footer-2020 {
  margin: $content-padding-l-1680*2;
}

