/******************************************************************
Site Name:
Author:

Stylesheet: 375px and Up Stylesheet

iPhone 6

******************************************************************/

.centered-page-area{
  padding-left: 30px;
  padding-right: 30px;
}

a.fixed-top-left{
  top: 30px;
}

.news-teaser-text{
  font-size: 1.5em;
}

.apply-small-wrap{
  width: 220px;
}
.apply-now-2020{

  .arrow-right{
    display: inline-block;
  }
  .apply-now-2020-text{
    text-align: left;
  }
}