<svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
     viewBox="0 0 26.2 24.2" enable-background="new 0 0 26.2 24.2" xml:space="preserve">
<g id="Gruppe_70" transform="translate(1421.647 -650) rotate(90)">
    <path id="Pfad_33" fill="none" stroke="#000000" stroke-width="2" d="M650.7,1408.2l11.4-11.4l11.4,11.4"/>
    <line id="Linie_2" fill="none" stroke="#000000" stroke-width="2" x1="662.1" y1="1421.6" x2="662.1" y2="1396.8"/>
</g>
</svg>
