<svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
     viewBox="0 0 23 23" enable-background="new 0 0 23 23" xml:space="preserve">
<g transform="translate(-222.793 -762.793)">
    <line fill="none" stroke="#000000" stroke-width="2" x1="224.2" y1="764.2" x2="244.4" y2="784.4"/>
    <line fill="none" stroke="#000000" stroke-width="2" x1="244.4" y1="764.2" x2="224.2" y2="784.4"/>
</g>
</svg>
