<div class="svg-loader">
    <div class="svg-loader-inner">
        <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
             viewBox="0 0 52 12" enable-background="new 0 0 52 12" xml:space="preserve">
            <circle fill="#0099CC" cx="6" cy="6" r="6">
                <animate  accumulate="none" additive="replace" attributeName="opacity" begin="0.1" calcMode="linear" dur="1s" fill="remove" repeatCount="indefinite" restart="always" values="0;1;0">
                </animate>
            </circle>
            <circle fill="#0099CC" cx="26" cy="6" r="6">
                <animate  accumulate="none" additive="replace" attributeName="opacity" begin="0.2" calcMode="linear" dur="1s" fill="remove" repeatCount="indefinite" restart="always" values="0;1;0">
                </animate>
            </circle>
            <circle fill="#0099CC" cx="46" cy="6" r="6">
                <animate  accumulate="none" additive="replace" attributeName="opacity" begin="0.3" calcMode="linear" dur="1s" fill="remove" repeatCount="indefinite" restart="always" values="0;1;0">
                </animate>
            </circle>
    </svg>
    </div>
</div>