<svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
     viewBox="0 0 22.2 24" enable-background="new 0 0 22.2 24" xml:space="preserve">
<g id="surface1">
    <path d="M11.1,0C6,0,1.7,3.2,0,7.6l1.8,0.8C3.3,4.6,6.8,2,11.1,2c3.2,0,6.1,1.6,7.9,4h-3.9v2h7V1h-2v3.1C17.9,1.6,14.7,0,11.1,0z
		 M20.4,15.6c-1.5,3.7-5,6.4-9.3,6.4c-3.3,0-6.2-1.6-8-4h4v-2h-7v7h2v-3.1c2.2,2.5,5.4,4.1,9,4.1c5.1,0,9.4-3.2,11.1-7.6L20.4,15.6z
		"/>
</g>
</svg>
